<div id="note-edit">
	<%= form_for @note, html: { multipart: true, id: 'new-note-form'} do |f| %>
	  <% if @note.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
	
	      <ul>
	      <% @note.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("note.png")  %>
			</div>
			<div class="skc-box-desc">
				<h4><%= f.text_area :title, class: 'form-control', rows: 1, placeholder: 'タイトル' %></h4>
				<hr />
				<p>
					<strong>内容:</strong>
					<%= f.text_area :content, class: 'form-control', id: 'edit-note-area' %>
				</p>
				<p>
					<strong>科目:</strong>
					<% if @note.subjects %>
						<%= select_tag :subjects, options_for_select(@subjects.map { |s| ["#{s.name}-#{s.year}", s.id]}, selected: @note.subjects.map { |s| s.id } ), class: 'form-control selectpicker show-tick', multiple: true, title: '' %>
					<% else %>
			  		<%= select_tag :subjects, options_from_collection_for_select(@subjects,"id","name"), class: 'form-control selectpicker show-tick', multiple: true, title: '' %>
					<% end %>
				</p>
				<hr />
				<p>
					<strong>資料:</strong>
	  			<%= render 'upload_form', note_id: @note.id %>
				</p>
				<hr />
				<div id='tag-form'>
					<div id='tag-menu'>
			   		<div id="add-all" class="btn btn-primary btn-xs">全15回</div>
			   		<div class="btn btn-primary btn-xs tag-menu-btn">試験対策</div>
			   		<div class="btn btn-primary btn-xs tag-menu-btn">過去問題</div>
			   		<div id="remove-all" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>クリア</div>
		      </div>
		      <%= text_area_tag 'tags', nil, id: 'tag-input' %>
				</div>
			</div>
			<br />
			<%= f.submit '登録', class: 'btn btn-success col-sm-2 col-sm-offset-5 col-xs-12 col-xs-offset-0' %>
		</div>
	</div>
	
	  	
	<% end %>
</div>

<!-- Initialize the plugin: -->
<script>
	$("#edit-note-area").wysihtml5({locale: "en-US"});
	$('.selectpicker').selectpicker();

	// instantiate the bloodhound suggestion engine
	var tags = new Bloodhound({
	  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.name); },
	  queryTokenizer: Bloodhound.tokenizers.whitespace,
	  limit: 5,
	  prefetch: {
	  	ttl: 0,
	    url: '/tags.json',
	    filter: function(list) {
	      return $.map(list, function(tag) { return { name: tag.name }; });
	    }
	  }
	});
	 
	// initialize the bloodhound suggestion engine
	tags.initialize();
	
	//initiate tagsinput	
	$('#tag-input').tagsinput({
		tagClass: function(item) {
	    switch (item) {
	      case '試験対策': return 'label label-warning';
	      case '過去問題': return 'label label-success';
	      default: return 'label label-info';
	    }
  	},
		confirmKeys: [13, 9]
	});

	$('#tag-input').tagsinput('input').typeahead(null, {
		// instantiate the typeahead UI
		  displayKey: 'name',
 			source: tags.ttAdapter()
	}).bind('typeahead:selected', $.proxy(function (obj, datum) {  
	  this.tagsinput('add', datum.value);
	  //this.tagsinput('input').typeahead('val','');
	}, $('#tag-input')));
	
	//menu bar
	$('#add-all').on('click', function() {
		for (var i=1;i<=15;i++)
		{ 
			$('#tag-input').tagsinput('add', i + '回目' );
		}
	});
	$('.tag-menu-btn').on('click', function() {
		$('#tag-input').tagsinput('add', this.innerHTML );
	});
	$('#remove-all').on('click', function() {
		$('#tag-input').tagsinput('removeAll');
	});
	
	//fix for left over text
	$('.bootstrap-tagsinput input').blur(function() {
		$(this).val('');
	});
	
	//add old tags if exist
	<% if @tags != nil %>
		<% @tags.each do |tag| %>
				$('#tag-input').tagsinput('add', "<%= tag %>" );
		<% end %>
	<% end %>
</script>