<div id="note-edit">
	<%= form_for @note, html: { multipart: true, id: 'new-note-form'} do |f| %>
	  <% if @note.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>
	
	      <ul>
	      <% @note.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("note.png")  %>
			</div>
			<div class="skc-box-desc">
				<h4><%= f.text_area :title, class: 'form-control', rows: 1, placeholder: 'タイトル' %></h4>
				<hr />
				<p>
					<strong>内容:</strong>
					<%= f.text_area :content, class: 'form-control', id: 'edit-note-area' %>
				</p>
				<p>
					<strong>科目:</strong>
			  	<% if !isNew %>
						<%= select_tag :subject, options_from_collection_for_select(@subjects,"id","name", selected: @subject.id), class: 'selectpicker show-tick', data: {width: 'auto'} %>
						<%= hidden_field_tag "old_subject", @subject.id %>
					<% else %>
			  		<%= select_tag :subject, options_from_collection_for_select(@subjects,"id","name"), class: 'selectpicker show-tick', data: {width: 'auto'} %>
			  	<% end %>
				</p>
				<hr />
				<p>
					<strong>資料:</strong>
					<!-- 
	    		<% if @note.documents.empty? %>
		      	<p>まだ資料がありません。</p>
	  			<% else %>
			      <% @note.documents.each do |document| %>
						  <p class="document">
						  	<%= link_to "#{document.name}", download_path(document.id) %>
						  	<%= link_to delete_document_path(document.id), confirm: '本当にいいですか?' do %>
						  	<i class="icon-cross" id="document-delete-btn"></i>
						  	<% end %>
						  </p>
						<% end %>
					<% end %>
	  			<%= file_field_tag :document %><br /> 
	  			-->
	  			
	  <div id="fileupload">
	    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
	    <div class="row fileupload-buttonbar">
	      <div class="span7">
	        <!-- The fileinput-button span is used to style the file input field as button -->
	        <span class="btn btn-success fileinput-button">
	          <i class="glyphicon glyphicon-plus"></i>
	          <span>Add files...</span>
	          <%= file_field_tag :upload %>
	        </span>
	        <button type="submit" class="btn btn-primary start">
	          <i class="glyphicon glyphicon-upload"></i>
	          <span>Start upload</span>
	        </button>
	        <button type="reset" class="btn btn-warning cancel">
	          <i class="glyphicon glyphicon-ban-circle"></i>
	          <span>Cancel upload</span>
	        </button>
	        <button type="button" class="btn btn-danger delete">
	          <i class="glyphicon glyphicon-trash"></i>
	          <span>Delete</span>
	        </button>
	        <input type="checkbox" class="toggle">
	      </div>
	      <div class="span5">
	        <!-- The global progress bar -->
	        <div class="progress progress-success progress-striped active fade">
	          <div class="bar" style="width:0%;"></div>
	        </div>
	      </div>
	    </div>
	    <!-- The loading indicator is shown during image processing -->
	    <div class="fileupload-loading"></div>
	    <br>
	    <!-- The table listing the files available for upload/download -->
	    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
	    </table>
	  </div>
	  
				</p>
				<hr />
				<div id='tag-form'>
					<div id='tag-menu'>
			   		<div id="add-all" class="btn btn-primary btn-xs">全15回</div>
			   		<div class="btn btn-primary btn-xs tag-menu-btn">試験対策</div>
			   		<div class="btn btn-primary btn-xs tag-menu-btn">過去問題</div>
			   		<div id="remove-all" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>クリア</div>
		      </div>
		      <%= text_area_tag 'tags', nil, id: 'tag-input' %>
				</div>
			</div>
			<br />
			<%= f.submit '登録', class: 'btn btn-success col-sm-2 col-sm-offset-5 col-xs-12 col-xs-offset-0' %>
		</div>
	</div>
	
	  	
	<% end %>
</div>

<!-- Initialize the plugin: -->
<script>
	$("#edit-note-area").wysihtml5({locale: "en-US"});
	$('.selectpicker').selectpicker();

	// instantiate the bloodhound suggestion engine
	var tags = new Bloodhound({
	  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.name); },
	  queryTokenizer: Bloodhound.tokenizers.whitespace,
	  limit: 5,
	  prefetch: {
	  	ttl_ms: 0,
	    url: '/tags.json',
	    filter: function(list) {
	      return $.map(list, function(tag) { return { name: tag.name }; });
	    }
	  }
	});
	 
	// initialize the bloodhound suggestion engine
	tags.initialize();
	
	//initiate tagsinput	
	$('#tag-input').tagsinput({
		tagClass: function(item) {
	    switch (item) {
	      case '試験対策': return 'label label-warning';
	      case '過去問題': return 'label label-success';
	      default: return 'label label-info';
	    }
  	},
		confirmKeys: [13, 9]
	});

	$('#tag-input').tagsinput('input').typeahead(null, {
		// instantiate the typeahead UI
		  displayKey: 'name',
 			source: tags.ttAdapter()
	}).bind('typeahead:selected', $.proxy(function (obj, datum) {  
	  this.tagsinput('add', datum.value);
	  //this.tagsinput('input').typeahead('val','');
	}, $('#tag-input')));
	
	//menu bar
	$('#add-all').on('click', function() {
		for (var i=1;i<=15;i++)
		{ 
			$('#tag-input').tagsinput('add', i + '回目' );
		}
	});
	$('.tag-menu-btn').on('click', function() {
		$('#tag-input').tagsinput('add', this.innerHTML );
	});
	$('#remove-all').on('click', function() {
		$('#tag-input').tagsinput('removeAll');
	});
	
	//fix for left over text
	$('.bootstrap-tagsinput input').blur(function() {
		$(this).val('');
	});
	
	//add old tags if exist
	<% if @tags != nil %>
		<% @tags.each do |tag| %>
				$('#tag-input').tagsinput('add', "<%= tag %>" );
		<% end %>
	<% end %>
</script>

<script>
  var fileUploadErrors = {
  maxFileSize: 'File is too big',
  minFileSize: 'File is too small',
  acceptFileTypes: 'Filetype not allowed',
  maxNumberOfFiles: 'Max number of files exceeded',
  uploadedBytes: 'Uploaded bytes exceed file size',
  emptyResult: 'Empty file upload result'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="glyphicon glyphicon-upload"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}
    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="glyphicon glyphicon-ban-circle"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
        <td class="preview">{% if (file.thumbnail_url) { %}
          <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          {% } %}</td>
        <td class="name">
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td colspan="2"></td>
        {% } %}
      <td class="delete">
        <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
          <i class="glyphicon glyphicon-trash"></i>
          <span>{%=locale.fileupload.destroy%}</span>
        </button>
        <input type="checkbox" name="delete" value="1">
      </td>
    </tr>
    {% } %}
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload({
      	url: "/documents",
      	type: "post"
      });
      // 
      // Load existing files:
      $.getJSON($('#fileupload').prop('action'), function (files) {
        var fu = $('#fileupload').data('blueimpFileupload'), 
          template;
        fu._adjustMaxNumberOfFiles(-files.length);
        console.log(files);
        template = fu._renderDownload(files)
          .appendTo($('#fileupload .files'));
        // Force reflow:
        fu._reflow = fu._transition && template.length &&
          template[0].offsetWidth;
        template.addClass('in');
        $('#loading').remove();
      });

  });
</script>
