<div id="note-edit" data-id="<%= @note.id %>">
	<%= form_for @note, html: { multipart: true, id: 'note-form'} do |f| %>
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("note.png")  %>
			</div>
			<div class="skc-box-desc">
				<%= f.text_field :title, class: 'form-control', placeholder: t('.title'), required: 'true' %>
    		<% if @note.errors[:title] %>
    			<ul>
		      <% @note.errors.full_messages_for(:title).each do |msg| %>
		        <li class="error-msg"><%= msg %></li>
		      <% end %>
		      </ul>
    		<% end %>
				<hr />
				<p>
					<strong><%= t('.content') %>:</strong>
					<%= f.text_area :content, class: 'form-control', id: 'edit-note-area' %>
				</p>
				<p id="note-subjects-select">
					<strong>
						<% if @note.subjects.count == 1 %>
						<%= t('.subject.one') %>:
						<% else %>
						<%= t('.subject.plural') %>:
						<% end %>
					</strong>
					<% if @note.subjects %>
						<%= f.select :subjects, options_for_select(@subjects.map { |s| ["#{s.name}-#{s.year}", s.id]}, selected: @note.subjects.map { |s| s.id } ), {}, {class: 'form-control selectpicker', multiple: true, title: '', data: {width: '100%', "live-search" => "true"}} %>
					<% else %>
			  		<%= f.select :subjects, options_from_collection_for_select(@subjects,"id","name"), {}, {class: 'form-control selectpicker', multiple: true, title: '', data: {width: '100%', "live-search" => "true"}} %>
					<% end %>
	    		<% if @note.errors[:subjects] %>
	    			<ul>
			      <% @note.errors.full_messages_for(:subjects).each do |msg| %>
			        <li class="error-msg"><%= msg %></li>
			      <% end %>
			      </ul>
	    		<% end %>
				</p>
				<hr />
				<p>
					<strong><%= t('.document') %>:</strong>
	  			<%= render 'upload_form', note_id: @note.id %>
				</p>
				<hr />
				<div class='tag-form'>
					<div class='tag-menu'>
			   		<div id="add-all" class="btn btn-primary btn-xs hidden-xs"><%= t('.all_class') %></div>
			   		<div class="btn btn-primary btn-xs tag-menu-btn hidden-xs"><%= t('.prepare_exam') %></div>
			   		<div class="btn btn-primary btn-xs tag-menu-btn hidden-xs"><%= t('.past_exam') %></div>
			   		<div id="remove-all" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span><%= t('.clear') %></div>
		      </div>
		      <%= text_area_tag 'tags', nil, class: 'tag-input' %>
		      <div class="tag-indicator">
		      	<span class="glyphicon glyphicon-chevron-right"></span>
		      </div>
		      <div class="tag-form-title"><%= t('tag_plural') %></div>
				</div>
			</div>
			<br />
			<%= f.submit class: 'btn btn-success col-sm-2 col-sm-offset-5 col-xs-12 col-xs-offset-0' %>
		</div>
	</div>
	  	
	<% end %>
</div>
