<%= form_for @note, html: {id: 'form-new-note'} do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_area :title, class: 'form-control', rows: 1%>
  </div>
  <div class="field">
    <%= f.label :content, '内容' %><br>
    <%= f.text_area :content, class: 'form-control', rows: 5%>
  </div>
  <div class="field">
  	<%= f.label :subject, '科目' %><br>
  	<%= select_tag :subject, options_from_collection_for_select(@subjects,"id","name") %>
  </div>
  <div class="field">
    <%= f.label :document, '資料' %><br>
  	<%= f.file_field :document %>
    <!--<p class="help-block">Pdfのファイルが望ましいです。</p>-->
	</div>
  <div class="actions ">
    <%= f.submit '登録', class: 'btn btn-success col-md-2 col-md-offset-4' %>
    <%= link_to 'キャンセル', notes_path, class: 'btn btn-default col-md-2 col-md-offset-1' %>
  </div>
<% end %>