<div id="note-edit">
	<%= form_for @note, html: { multipart: true, id: 'note-form'} do |f| %>
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("note.png")  %>
			</div>
			<div class="skc-box-desc">
				<%= f.text_area :title, class: 'form-control', rows: 1, placeholder: 'タイトル' %>
    		<% if @note.errors[:title] %>
    			<ul>
		      <% @note.errors.full_messages_for(:title).each do |msg| %>
		        <li class="error-msg"><%= msg %></li>
		      <% end %>
		      </ul>
    		<% end %>
				<hr />
				<p>
					<strong>内容:</strong>
					<%= f.text_area :content, class: 'form-control', id: 'edit-note-area' %>
				</p>
				<p>
					<strong>科目:</strong>
					<% if @note.subjects %>
						<%= f.select :subjects, options_for_select(@subjects.map { |s| ["#{s.name}-#{s.year}", s.id]}, selected: @note.subjects.map { |s| s.id } ), {}, {class: 'form-control selectpicker show-tick', multiple: true, title: '', data: {width: '100%'}} %>
					<% else %>
			  		<%= f.select :subjects, options_from_collection_for_select(@subjects,"id","name"), {}, {class: 'form-control selectpicker show-tick', multiple: true, title: '', data: {width: '100%'}} %>
					<% end %>
	    		<% if @note.errors[:subjects] %>
	    			<ul>
			      <% @note.errors.full_messages_for(:subjects).each do |msg| %>
			        <li class="error-msg"><%= msg %></li>
			      <% end %>
			      </ul>
	    		<% end %>
				</p>
				<hr />
				<p>
					<strong>資料:</strong>
	  			<%= render 'upload_form', note_id: @note.id %>
				</p>
				<hr />
				<div class='tag-form'>
					<div class='tag-menu'>
			   		<div id="add-all" class="btn btn-primary btn-xs">全15回</div>
			   		<div class="btn btn-primary btn-xs tag-menu-btn">試験対策</div>
			   		<div class="btn btn-primary btn-xs tag-menu-btn">過去問題</div>
			   		<div id="remove-all" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>クリア</div>
		      </div>
		      <%= text_area_tag 'tags', nil, class: 'tag-input' %>
				</div>
			</div>
			<br />
			<%= f.submit '登録', class: 'btn btn-success col-sm-2 col-sm-offset-5 col-xs-12 col-xs-offset-0' %>
		</div>
	</div>
	
	  	
	<% end %>
</div>
