<%= form_for @note, html: { multipart: true, id: 'new-note-form'} do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	
  <div class="field">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_area :title, class: 'form-control', rows: 1%>
  </div>
  <div class="field">
    <%= f.label :content, '内容' %><br>
    <%= f.text_area :content, class: 'form-control', id: 'edit-note-area'%>
  </div>
  <div class="field">
  	<%= f.label :subject, '科目' %><br>
  	
  	<% if !isNew %>
		<%= select_tag :subject, options_from_collection_for_select(@subjects,"id","name", selected: @subject.id), class: 'selectpicker', data: {width: 'auto'} %>
		<%= hidden_field_tag "old_subject", @subject.id %>
		<% else %>
  	<%= select_tag :subject, options_from_collection_for_select(@subjects,"id","name"), class: 'selectpicker', data: {width: 'auto'} %>
  	<% end %>
  </div>
  <div class="field">
    <%= f.label :document, '資料' %><br>
    		<% if @note.documents.empty? %>
	      	<p>まだ資料がありません。</p>
  			<% else %>
		      <% @note.documents.each do |document| %>
					  <p class="document">
					  	<%= link_to "#{document.name}", download_path(document.id) %>
					  	<%= link_to delete_document_path(document.id), confirm: '本当にいいですか?' do %>
					  	<i class="icon-cross" id="document-delete-btn"></i>
					  	<% end %>
					  </p>
					<% end %>
				<% end %>
  	<%= f.file_field :document %><br />  		
	</div>
	<div class="field">
		<div id='tag-form'>
			<div id='tag-menu'>
	   		<div id="add-all" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>全15回</div>
	   		<div id="add-year" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>通年</div>
	   		<div id="add-special" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus-sign"></span>集中講義</div>
	   		<div id="remove-all" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>クリア</div>
      </div>
  		<input type="text" id="tag-input"/>
		</div>
	</div>
  <div class="actions ">
    <%= f.submit '登録', class: 'btn btn-success col-md-2 col-md-offset-4' %>
    <%= link_to 'キャンセル', :back, class: 'btn btn-default col-md-2 col-md-offset-1' %>
  </div>
<% end %>

<!-- Initialize the plugin: -->
<script>
	$('.selectpicker').selectpicker();
	$(document).keypress(function (e) {
		//disable enter key in textarea
	  if (e.which == 13 && e.target.nodeName != "TEXTAREA") return false;
	  if (e.which == 9 && e.target.nodeName != "TEXTAREA") return false;
	});
	//local sources
	var sources = [
	<% (1..15).each do |i| %>
	{ "value": <%= i %>, "text":"<%= i %>回目" , "type": "normal" },
	<% end %>
	{ "value":365 , "text":"通年" , "type": "year" },
	{ "value":0 , "text":"集中講義" , "type": "special" }			
	];
	//initiate tagsinput
	$('#tag-input').tagsinput({
		confirmKeys: [13, 9],
		tagClass: function(item) {
	    switch (item.type) {
	      case 'normal'   : return 'label label-info';
	      case 'year'  : return 'label label-warning';
	      case 'special' : return 'label label-danger';
	    }
	  },
	  itemValue: 'value',
	  itemText: 'text',
	});

	$('#tag-input').tagsinput('input').typeahead({
		//or can use prefetch: 'assets_path(cities.json)',
	  local: sources,
	  valueKey: 'text'
	}).bind('typeahead:selected', $.proxy(function (obj, datum) {  
	  this.tagsinput('add', datum);
	  this.tagsinput('input').typeahead('setQuery', '');
	}, $('#tag-input')));
	
	$('#add-all').on('click', function() {
		for (var i=1;i<=15;i++)
		{ 
			$('#tag-input').tagsinput('add', { "value": i, "text": i + '回目', "type": "normal" } );
		}
	});
	$('#add-year').on('click', function() {
		$('#tag-input').tagsinput('add', { "value": 365, "text": '通年', "type": "year" } );
	});
	$('#add-special').on('click', function() {
		$('#tag-input').tagsinput('add', { "value": 0, "text": '集中講義', "type": "special" } );
	});
	$('#remove-all').on('click', function() {
		$('#tag-input').tagsinput('removeAll');
	})
</script>