<%= form_for @note, html: { multipart: true, id: 'new-note-form'} do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	
  <div class="field">
    <%= f.label :title, 'タイトル' %><br>
    <%= f.text_area :title, class: 'form-control', rows: 1%>
  </div>
  <div class="field">
    <%= f.label :content, '内容' %><br>
    <%= f.text_area :content, class: 'form-control', id: 'edit-note-area' %>
  </div>
  <div class="field">
  	<%= f.label :subject, '科目' %><br>
  	
  	<% if !isNew %>
		<%= select_tag :subject, options_from_collection_for_select(@subjects,"id","name", selected: @subject.id), class: 'selectpicker', data: {width: 'auto'} %>
		<%= hidden_field_tag "old_subject", @subject.id %>
		<% else %>
  	<%= select_tag :subject, options_from_collection_for_select(@subjects,"id","name"), class: 'selectpicker', data: {width: 'auto'} %>
  	<% end %>
  </div>
  <div class="field">
    <%= f.label :document, '資料' %><br>
    		<% if @note.documents.empty? %>
	      	<p>まだ資料がありません。</p>
  			<% else %>
		      <% @note.documents.each do |document| %>
					  <p class="document">
					  	<%= link_to "#{document.name}", download_path(document.id) %>
					  	<%= link_to delete_document_path(document.id), confirm: '本当にいいですか?' do %>
					  	<i class="icon-cross" id="document-delete-btn"></i>
					  	<% end %>
					  </p>
					<% end %>
				<% end %>
  	<%= f.file_field :document %><br />  		
	</div>
	<div class="field">
		<div id='tag-form'>
			<div id='tag-menu'>
	   		<div id="add-all" class="btn btn-primary btn-xs">全15回</div>
	   		<div class="btn btn-primary btn-xs tag-menu-btn">試験対策</div>
	   		<div class="btn btn-primary btn-xs tag-menu-btn">過去問題</div>
	   		<div id="remove-all" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>クリア</div>
      </div>
      <%= text_area_tag 'tags', :tags, id: 'tag-input' %>
      <!-- 
      <%= f.collection_select :tag_ids, @subjects, :id, :name, {selected: @subjects.first.id}, {multiple: true, class: 'form-control'} %>
      -->
		</div>
	</div>
  <div class="actions ">
    <%= f.submit '登録', class: 'btn btn-success col-md-2 col-md-offset-4' %>
    <%= link_to 'キャンセル', :back, class: 'btn btn-default col-md-2 col-md-offset-1' %>
  </div>
<% end %>

<!-- Initialize the plugin: -->
<script>
	//$('#note_tag_ids').chosen();
	$('.selectpicker').selectpicker();
	$(document).keypress(function (e) {
		//disable enter key in textarea
	  if (e.which == 13 && e.target.nodeName != "TEXTAREA") return false;
	  if (e.which == 9 && e.target.nodeName != "TEXTAREA") return false;
	  if (e.which == 8 && e.target.nodeName != "TEXTAREA") return false;
	});
	
	//local sources
	var sources = [
		<% ActsAsTaggableOn::Tag.all.each do |tag| %>
		"<%= tag %>",
		<% end %>
	];
	//initiate tagsinput	
	$('#tag-input').tagsinput({
		confirmKeys: [13, 9]
	});

	$('#tag-input').tagsinput('input').typeahead({
		//or can use prefetch: 'assets_path(cities.json)',
	  local: sources,
	}).bind('typeahead:selected', $.proxy(function (obj, datum) {  
	  this.tagsinput('add', datum.value);
	  this.tagsinput('input').typeahead('setQuery', '');
	}, $('#tag-input')));
	
	$('#add-all').on('click', function() {
		for (var i=1;i<=15;i++)
		{ 
			$('#tag-input').tagsinput('add', i + '回目' );
		}
	});
	$('.tag-menu-btn').on('click', function() {
		$('#tag-input').tagsinput('add', this.innerHTML );
	});
	$('#remove-all').on('click', function() {
		$('#tag-input').tagsinput('removeAll');
	})
	
	//fix for left over typeahead
	$('.tt-query').on('blur', function() {
		$(this).val('');
	});
	
	//add old tags if exist
	<% if @tags != nil %>
		<% @tags.each do |tag| %>
				$('#tag-input').tagsinput('add', "<%= tag %>" );
		<% end %>
	<% end %>
	
</script>