<div class="note-item-box">
	<div class="note-item-inner-box">
		
	  <div class="note-details-box">
	    <div class="note-title-box"><%= link_to note.title, note %>
				<% if user_signed_in? %>
		    	<% if note.is_favorited?(current_user) %>
		    	<i class="fa fa-star"></i>
		    	<% end %>
	    	<% end %>
    	</div>
    	<div class="note-content-box">
    		<%= sanitize strip_tags(note.content) %>
    	</div>
			
		  <div class="note-info-box">
		  	
		  	<div class="note-view-box">
					<span class="glyphicon glyphicon-eye-open"></span>
					<%= note.impressionist_count %>
				</div>
	
		  	<div class="note-time-box">
		  		<%= time_ago_in_words(note.created_at) %><%= t('ago') %>
				</div>

			</div>
			<div class="note-subject-box">
				<%= note.subjects.ordered.first.name %>
			</div>
	  </div>

	</div>
</div>