<div class="note-item col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
  <div class="note-thumbnail">
  </div>
  <div class="note-details">
    <div class="note-title"><%= link_to "#{note.title}", note %></div>
    <div class="note-tags">
      <% if defined?(show_subject) && show_subject %>
	      <% note.subjects.order('year DESC, view_count DESC').first(3).each do |subject| %>
		      <span class="label label-info"><%= subject.name %></span>
	      <% end %>
      <% end %>
      <% if note.tag_list.include?(t('.prepare_exam')) %>
      	<span class="label label-warning"><%= t('.prepare_exam') %></span>
      <% end %>
      <% if note.tag_list.include?(t('.past_exam')) %>
      	<span class="label label-success"><%= t('.past_exam') %></span>
      <% end %>
      
			<% if user_signed_in? %>
	      <% if note.unread?(current_user) %>
	      	<span class="label label-danger"><%= t('.new')%></span>
	      <% end %>
      <% end %>
    </div>
  </div>
  <div class="note-info">
  	<div class="note-time">
  		<%= time_ago_in_words(note.created_at) %><%= t('ago') %>
		</div>

  	<div class="note-view">
			<span class="glyphicon glyphicon-eye-open"></span>
			<%= note.impressionist_count %>
		</div>
	</div>
	
</div>