<div id="notes">
	<div class="filter-bar">
	  <%= link_to new_note_path, class: 'btn btn-default', id:'new-note-btn' do %>
	  <span class="glyphicon glyphicon-plus-sign"></span>
		<% end %>
	
	  <%= form_tag notes_path, method: :get, class: "filter-form", id: 'filter-note' do %>
	    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'ライブ検索', autocorrect: "off", autocapitalize: "off" %>
		<% end %>
		<ul class="hidden-xs filter-menu">
	  <li><%= link_to 'すべて', notes_path(filter: 'すべて'), class: 'active' %></li>
		<li><%= link_to '自分のノート', notes_path(filter: '自分のノート') %></li>
		<li><%= link_to '授業のノート', notes_path(filter: '授業のノート') %></li>
	  <li>
	  	<%= link_to notes_path(filter: '新着ノート') do %>
		  	新着ノート
	    	<% if user_signed_in? && Note.unread_by(current_user).count > 0 %>
	    		<span class="badge badge-important"><%= Note.unread_by(current_user).count %></span>
	    	<% end %>
	  	<% end %>
	  </li>
		</ul>
	</div>
	<div id="note-order-option">
		<div class="btn-group">
		  <button type="button" data-type="alphabet" class="btn btn-default <%= 'active' if @user.settings(:note).order == :alphabet %>"><span class="glyphicon glyphicon-font"></span></button>
		  <button type="button" data-type="time" class="btn btn-default <%= 'active' if @user.settings(:note).order == :time %>"><span class="glyphicon glyphicon-time"></span></button>
		  <button type="button" data-type="view" class="btn btn-default <%= 'active' if @user.settings(:note).order == :view %>"><span class="glyphicon glyphicon-eye-open"></span></button>
		</div>
	</div>
	<div id="notes-list">
		<%= render(@notes) || 'ノートが見つかりません。' %>
	</div>
	<div class="hidden-pagination">
		<%= paginate @notes %>										
	</div>
</div>