
<div class="mp-container">
		
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
 
        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu mp-overlap">
					<div class="mp-level" data-level="1">
						<h4 class="icon-menu"><%= t('.note_menu') %></h4>
						 <ul>
							<li>
								<%= link_to notes_path(filter: 'favorite'), data: {type: 'favorite'} do %>
									<%= image_tag('star.png') %>
									<%= t('.favorite') %>
						    	<% if favorite_notes_count > 0 %>
						    		<span class="badge badge-navi"><%= favorite_notes_count %></span>
						    	<% end %>
								<% end %>
							</li>
							<li>
								<%= link_to notes_path(filter: 'registered_note'), data: {type: 'registered_note'} do %>
									<%= image_tag('lecture_color.png') %>
									<%= t('.registered_subjects_note') %>
								<% end %>
							</li>
							<li>
								<%= link_to notes_path(filter: 'my_note'), data: {type: 'my_note'} do %>
									<%= image_tag('user_profile.png') %>
									<%= t('.my_note') %>
								<% end %>
							</li>
						  <li>
						  	<%= link_to notes_path(filter: 'new_arrival_note'), data: {type: 'new_arrival_note'} do %>
									<%= image_tag('new.png') %>
							  	<%= t('.new_arrival_note') %>
						    	<% if unread_notes_count > 0 %>
						    		<span class="badge badge-important"><%= unread_notes_count %></span>
						    	<% end %>
						  	<% end %>
						  </li>
	  					<li>
	  						<%= link_to notes_path(filter: 'all'), data: {type: 'all'} do %>
									<%= image_tag('all.png') %>
									<%= t('all_option') %>
	  						<% end %>
	  					</li>
				  	</ul>
					</div>
				</nav>
        <!-- /mp-menu -->
		
        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
            <!-- site content goes here -->
                
						<div id="notes">
							<div id="note-menu">
								
								<!-- trigger btn -->
								<a href="#" id="pushmenu-trigger" class="visible-xs pull-left"><i class="fa fa-bars"></i></a>
								
							  <%= link_to new_note_path, class: 'btn btn-default', id:'new-note-btn' do %>
							  <span class="glyphicon glyphicon-plus-sign"></span>
							  <span class="hidden-xs"><%= t('.new_note') %></span>
								<% end %>
							
							  <%= form_tag notes_path, method: :get, class: "search-form", id: 'note-search' do %>
							    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t('note_search'), autocorrect: "off", autocapitalize: "off" %>
								<% end %>
								
								<ul class="hidden-xs filter-menu">
								  <li><%= link_to t('all_option'), notes_path(filter: 'all'), data: {type: 'all'} %></li>
								  <li>
								  	<%= link_to notes_path(filter: 'new_arrival_note'), data: {type: 'new_arrival_note'} do %>
									  	<%= t('.new_arrival_note') %>
								    	<% if unread_notes_count > 0 %>
								    		<span class="badge badge-important"><%= unread_notes_count %></span>
								    	<% end %>
								  	<% end %>
								  </li>
									<li><%= link_to t('.my_note'), notes_path(filter: 'my_note'), data: {type: 'my_note'} %></li>
									<li><%= link_to t('.registered_subjects_note'), notes_path(filter: 'registered_note'), data: {type: 'registered_note'} %></li>
	  							<li>
	  								<%= link_to notes_path(filter: 'favorite'), data: {type: 'favorite'} do %>
								    	<%= t('.favorite') %>
								    	<% if favorite_notes_count > 0 %>
						    				<span class="badge badge-navi"><%= favorite_notes_count %></span>
						    			<% end %>
						    		<% end %>
	  							</li>
								</ul>
								
							</div><!-- end of note-menu -->
							
							<div id="note-menu-sub">
								<div id="note-style-option">
									<div class="dropdown" id="note-style-option-dropdown">
										<a data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-option-vertical"></span></a>
										<ul class="dropdown-menu pull-right" id="note-style-list">
											<li>
												<div class="btn-group">
												  <button type="button" data-type="time" class="btn btn-default"><span class="glyphicon glyphicon-th"></span>asdf</button>
												  <button type="button" data-type="view" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></span>asdf</button>
												</div>
											</li>
										</ul>
										
									</div>
								</div>
								<div id="note-order-option">
									<div class="btn-group">
									  <button type="button" data-type="alphabet" class="btn btn-default <%= 'active' if @user.settings(:note).order == :alphabet %>"><span class="glyphicon glyphicon-font"></span></button>
									  <button type="button" data-type="time" class="btn btn-default <%= 'active' if @user.settings(:note).order == :time %>"><span class="glyphicon glyphicon-time"></span></button>
									  <button type="button" data-type="view" class="btn btn-default <%= 'active' if @user.settings(:note).order == :view %>"><span class="glyphicon glyphicon-eye-open"></span></button>
									</div>
								</div>
							</div>

							<div id="notes-list" class="text-center row">
								<%= render(partial: 'note', collection: @notes, locals: {show_subject: @show_subject}) || t('note_not_found') %>
							</div>
							<div class="hidden-pagination">
								<%= paginate @notes %>										
							</div>
						</div><!-- end of notes div -->

            </div><!-- /scroller-inner -->
        </div><!-- /scroller -->
 
    </div><!-- /pusher -->
</div><!-- /mp-container -->

