
<div class="mp-container">
		
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
 
        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu mp-overlap">
					<div class="mp-level" data-level="1">
						<h4 class="icon-menu">ノートメニュー</h4>
						 <ul>
						  <li>
						  	<%= link_to notes_path(filter: '新着ノート') do %>
							  	新着ノート
						    	<% if unread_notes_count > 0 %>
						    		<span class="badge badge-important"><%= unread_notes_count %></span>
						    	<% end %>
						  	<% end %>
						  </li>
							<li><%= link_to '授業のノート', notes_path(filter: '授業のノート') %></li>
							<li><%= link_to '自分のノート', notes_path(filter: '自分のノート') %></li>
	  					<li><%= link_to 'すべて', notes_path(filter: 'すべて'), class: 'active' %></li>
				  	</ul>
					</div>
				</nav>
        <!-- /mp-menu -->
		
        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <!-- site content goes here -->
                
<div id="notes">
	<div class="filter-bar">
		
		<!-- trigger btn -->
		<a href="#" id="pushmenu-trigger" class="visible-xs btn btn-default pull-left"><span class="glyphicon glyphicon-cog"></span></a>
		
	  <%= link_to new_note_path, class: 'btn btn-default', id:'new-note-btn' do %>
	  <span class="glyphicon glyphicon-plus-sign"></span>
	  <span id="new-note-text">新規ノート</span>
		<% end %>
	
	  <%= form_tag notes_path, method: :get, class: "filter-form", id: 'filter-note' do %>
	    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'ライブ検索', autocorrect: "off", autocapitalize: "off" %>
		<% end %>
		<ul class="hidden-xs filter-menu">
	  <li><%= link_to 'すべて', notes_path(filter: 'すべて') %></li>
		<li><%= link_to '自分のノート', notes_path(filter: '自分のノート') %></li>
		<li><%= link_to '授業のノート', notes_path(filter: '授業のノート') %></li>
	  <li>
	  	<%= link_to notes_path(filter: '新着ノート') do %>
		  	新着ノート
	    	<% if unread_notes_count > 0 %>
	    		<span class="badge badge-important"><%= unread_notes_count %></span>
	    	<% end %>
	  	<% end %>
	  </li>
		</ul>
	</div>
	<div id="note-order-option">
		<div class="btn-group">
		  <button type="button" data-type="alphabet" class="btn btn-default <%= 'active' if @user.settings(:note).order == :alphabet %>"><span class="glyphicon glyphicon-font"></span></button>
		  <button type="button" data-type="time" class="btn btn-default <%= 'active' if @user.settings(:note).order == :time %>"><span class="glyphicon glyphicon-time"></span></button>
		  <button type="button" data-type="view" class="btn btn-default <%= 'active' if @user.settings(:note).order == :view %>"><span class="glyphicon glyphicon-eye-open"></span></button>
		</div>
	</div>
	<div id="notes-list" class="text-center">
		<%= render(@notes) || 'ノートが見つかりません。' %>
	</div>
	<div class="hidden-pagination">
		<%= paginate @notes %>										
	</div>
</div>

            </div><!-- /scroller-inner -->
        </div><!-- /scroller -->
 
    </div><!-- /pusher -->
</div><!-- /mp-container -->

<script>
	$(document).ready(function() {
		/*For live search*/
		var timeout; // add delay time
	  $("#filter-note input").keyup(function() {
			window.clearTimeout(timeout); //clear delay
	    timeout = window.setTimeout(function(){ //set a new delay, after an amount of time, ajax function will be called
			  $.ajax({
				  url: $("#filter-note").attr("action"),
				  data: $("#filter-note").serialize() + "&filter=" + $(".filter-menu .active").text(), //default contenttype is url text
				  success: ajaxSuccess,
				  dataType: "script"
				});    
			}, 500);

			return false;
	  });

		new mlPushMenu( document.getElementById('mp-menu'), document.getElementById('pushmenu-trigger') );

		// need to set active beside nav_link helper
		var filter = getParameterByName("filter");
		if (filter == "") {
			//default
			$(".filter-bar a:contains('すべて')").attr("class", "active");
		} else {
			$(".filter-bar a:contains('" + filter + "')").attr("class", "active");
		}
		  
	  /*For note order option*/
	 	$("#note-order-option button").on("click", function() {
	 		$("#note-order-option button").each(function() {
	 			$(this).removeClass("active");
	 		});
	 		$(this).addClass("active");
	 		var data = "filter=" + $(".filter-menu .active").text() + "&order=" + $(this).data("type");
	 		if ($("#filter-note #search").val() != "") {
	 			data += "&search=" + $("#filter-note #search").val();
	 		}
	
			//use current locale
		  $.ajax({
			  url: "/" + I18n["meta"]["code"] + "/notes",
			  data: data ,//default contenttype is url text
			  success: ajaxSuccess,
			  dataType: "script"
			});    
	 	});
		
	});
</script>