<div id="notes-menu">
	<div class="btn-group-vertical">
		<%= link_to '新規ノート', new_note_path, method: :get, class: 'btn btn-lg btn-primary' %>
	  <button type="button" class="btn btn-lg btn-default">自分のノート</button>
	  <button type="button" class="btn btn-lg btn-default">授業のノート</button>
	</div>
</div>
<div id="notes">
<ul>
<% @notes.each do |note| %>
	<li id="item">
      <p>
         <%= link_to image_tag("note_thumbnail.jpeg"), note %>
      </p>
      
      <div class="caption text-center">
        <h3><%= note.title %></h3>
      </div>
      
      <div class="note-menu row">
      		<%= link_to new_note_path, method: :get, class: 'note-link col-md-6 text-center' do %>
      		<i class="icon-download"></i>
      		<% end %>
					<%= link_to note, method: :delete, class: 'note-link col-md-6 text-center', data: { confirm: 'Are you sure?' } do %>
					<i class="icon-erase"></i>
					<% end %>
			</div>
 	</li>
<% end %>
</ul>
</div>