<div id="notes">
	<div id="filter-bar">
		<ul id="filter-option">
			<li><span class="glyphicon glyphicon-th"></span></li>
			<li><span class="glyphicon glyphicon-th-list"></span></li>
		</ul>
	  <%= link_to new_note_path, class: 'btn btn-default', id:'new-note-btn' do %>
	  <span class="glyphicon glyphicon-plus-sign"></span>
		<% end %>
	
	  <%= form_tag notes_path, method: :get, class: "navbar-form navbar-left", id: 'filter-form' do %>
	    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'ライブ検索', autocorrect: "off", autocapitalize: "off" %>
		<% end %>
		<ul id="filter-menu" class="col-sm-5 hidden-xs">
		<li><%= link_to '自分のノート', notes_path(filter: '自分のノート'), class: 'active' %></li>
		<li><%= link_to '授業のノート', notes_path(filter: '授業のノート') %></li>
	  <li><%= link_to '新着ノート', notes_path(filter: '新着ノート') %></li>
		</ul>
	</div>
	<div id="notes-list">
		<%= render 'layouts/list_notes' %>
	</div>
</div>