<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image path</th>
      <th>Pdf path</th>
      <th>User</th>
      <th>Subject</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= note.image_path %></td>
        <td><%= note.pdf_path %></td>
        <td><%= note.user_id %></td>
        <td><%= note.subject_id %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
<div id="notes">
<ul>
<% @notes.each do |note| %>
	<li id="item">
      <p>
         <%= image_tag("note_thumbnail.jpeg") %>
      </p>
      
      <div class="caption">
        <h3><%= note.title %></h3>
      </div>
 	</li>
<% end %>
</ul>
</div>