<div id="show-note">
	<div class="panel panel-danger">
	<!-- Default panel contents -->
	  <div class="panel-heading text-center"><h4>Profile</h4></div>
	  <div class="panel-body">
	  	<dl class="dl-horizontal">
	      <dt>タイトル:</dt>
	      <dd><%= @note.title %></dd>
	      <dt>内容:</dt>
	      <dd><%= @note.content %></dd>
	      <dt>科目:</dt>
	      <dd><%= @note.subjects.first.name %></dd>
	      <dt>ユーザー:</dt>
	      <dd><%= @note.user.username %></dd>
	      <hr />
	      <dt>資料：</dt>
	      <% if @note.documents.empty? %>
	      	<dd>まだ資料がありません。</dd>
	      <% else %>
		      <% @note.documents.each do |document| %>
					  <dd><%= link_to "#{document.name}", download_path(document.id) %></dd>
					<% end %>
				<% end %>
    	</dl>
    		  <%= link_to 'もどる', notes_path, class: 'btn btn-default col-md-2 col-md-offset-5' %>
	  </div>
	</div>
</div>
