<div id="show-note">
	<div class="panel panel-danger">
	<!-- Default panel contents -->
	  <div class="panel-heading text-center"><h4><%= @note.title %></h4></div>
	  <div class="panel-body">
	  	<dl class="dl-horizontal">
	      <dt>内容:</dt>
	      <dd><%= @note.content %></dd>
	      <dt>科目:</dt>
	      <dd><%= link_to @note.subjects.first.name, @note.subjects.first %></dd>
	      <dt>ユーザー:</dt>
	      <dd><%= link_to @note.user.username, @note.user %></dd>
	      <dt>作成日:</dt>
	      <dd><%= @note.created_at %></dd>
	      <hr />
	      <dt>資料：</dt>
	      <% if @note.documents.empty? %>
	      	<dd>まだ資料がありません。</dd>
	      <% else %>
		      <% @note.documents.each do |document| %>
					  <dd><%= link_to "#{document.name}", download_path(document.id) %></dd>
					<% end %>
				<% end %>
    	</dl>
    	<hr />
			<%= text_area_tag 'tags', :tags, id: 'tag-input' %>
    	<%= link_to 'もどる', :back, class: 'btn btn-default col-md-2 col-md-offset-5' %>
	  </div>
	</div>
</div>
<script>
	$('#tag-input').tagsinput({
		tagClass: function(item) {
	    switch (item) {
	      case '試験対策'  : return 'label label-warning';
	      case '過去問題': return 'label label-success';
	      default: return 'label label-info';
	    }
  	},
	  disable: 'true'
	});
	<% @tags.each do |tag| %>
			$('#tag-input').tagsinput('add', "<%= tag %>" );
	<% end %>
</script>