<div id="show-note">
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("note.png") %>
			</div>
			<div class="skc-box-desc">
				<h4><%= @note.title %></h4>
				<% if !@note.content.blank? %>
					<p>
						<%= sanitize(@note.content) %>
					</p>
				<% end %>
				
				<hr />
				<% @note.subjects.each do |subject| %>
				<%= render partial: "subjects/subject_card", locals: {subject: subject} %>
				<div class="subject-hovercard hovercard" data-id="<%= subject.id %>">
					<%= render partial: 'subjects/subject_hovercard', locals: {subject: subject} %>		
				</div>
				<% end %>
				
				<% if !@note.documents.empty? %>
				<hr />
				<%= render template: 'documents/index', locals: {documents: @note.documents} %>
				<% end %>
								
				<hr />
				<%= render partial: "users/author_card", locals: {user: @note.user, date: @note.created_at} %>				
				<div class="author-hovercard hovercard">
					<%= render partial: 'users/user_hovercard', locals: {user: @note.user} %>		
				</div>
								
			</div>
			
			<div class="skc-box-menu">
				<a href="#" class="print has-tooltip" data-toggle="tooltip" data-placement="top" title="<%= t('print') %>"><span class="glyphicon glyphicon-print"></span></a>
				<% if can? :update, @note %>
					<%= link_to edit_note_path(@note.id), class: 'has-tooltip', data: {toggle: "tooltip", placement: "top"}, title: t('edit') do %>
						<span class="glyphicon glyphicon-pencil"></span>
					<% end %>
				<% end %>
				<% if can? :destroy, @note %>
					<%= link_to @note, method: :delete, data: { confirm: t('delete_confirm') } do %>
						<span class="glyphicon glyphicon-remove"></span>
					<% end %>
				<% end %>
			</div>
			
		</div>
	</div><!-- end of skc-box -->
	
	<div id="note-tags-list">
		<% if @tags.count > 0 %>
		<div id="note-tags-list-header">
			<%= image_tag('subject-tag.png') %>
			<span><%= t('tag_plural') %></span>
		</div>
		<ul>
			<% @tags.each do |tag| %>
			<li class="label-tag"><%= tag %></li>
			<% end %>
		</ul>
		<% end %>
	</div>
	
</div>
