<div id="show-note">
	<div class="skc-box skc-box-lg skc-box-no-padding">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("note.png") %>
			</div>
			<div class="skc-box-desc">
				<h4><%= @note.title %></h4>
				<% if !@note.content.blank? %>
					<p>
						<%= sanitize(@note.content) %>
					</p>
				<% end %>
				
				<% if !@note.documents.empty? %>
					<hr />
					<div id="note-documents-list" class="clear">
					  <%= render @note.documents.order('created_at ASC') %>
					</div>
				<% end %>
								
				<hr />
				<%= render partial: "users/author_card", locals: {user: @note.user, date: @note.created_at} %>				
				<div class="author-hovercard hovercard">
					<%= render partial: 'users/user_hovercard', locals: {user: @note.user} %>		
				</div>
								
			</div>
			
			<div class="skc-box-menu">
				<a href="#" class="print has-tooltip" data-toggle="tooltip" data-placement="top" title="<%= t('print') %>"><span class="glyphicon glyphicon-print"></span></a>
				<% if can? :update, @note %>
					<%= link_to edit_note_path(@note.id), class: 'has-tooltip', data: {toggle: "tooltip", placement: "top"}, title: t('edit') do %>
						<span class="glyphicon glyphicon-pencil"></span>
					<% end %>
				<% end %>
				<% if can? :destroy, @note %>
					<%= link_to @note, method: :delete, data: { confirm: t('delete_confirm') } do %>
						<span class="glyphicon glyphicon-remove"></span>
					<% end %>
				<% end %>
			</div>
			
			<div class="skc-box-vote">
				<%= render partial: "note_vote_menu", locals: {note: @note, vote: @vote, like_number: @like_number, dislike_number: @dislike_number} %>
			</div>
			
		</div>
	</div><!-- end of skc-box -->
	
	<div id="note-subject-list">
		<div class="header">		
			<%= image_tag('lecture_color.png') %>
			<span><%= t('subject_plural') %></span>
		</div>
		<% @note.subjects.each do |subject| %>
			<%= render partial: "subjects/subject_card", locals: {subject: subject} %>
			<div class="subject-hovercard hovercard" data-id="<%= subject.id %>">
				<%= render partial: 'subjects/subject_hovercard', locals: {subject: subject} %>		
			</div>
		<% end %>
	</div>
				
	<div id="note-tags-list">
		<% if @tags.count > 0 %>
		<div class="header">
			<%= image_tag('subject-tag.png') %>
			<span><%= t('tag_plural') %></span>
		</div>
		<ul>
			<% @tags.each do |tag| %>
			<li class="label-tag"><%= tag %></li>
			<% end %>
		</ul>
		<% end %>
	</div>
	
	<div id="note-navigation">
		<% if @next %>
		<div id="note-next">
			<i class="fa fa-angle-right"></i>
			<%= render partial: 'note_navigation', locals: {note: @next} %>
		</div>
		<% end %>
		<% if @prev %>
		<div id="note-prev">
			<i class="fa fa-angle-left"></i>
			<%= render partial: 'note_navigation', locals: {note: @prev} %>
		</div>
		<% end %>
	</div>
	
</div>
