<div id="show-note">
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("note.png") %>
			</div>
			<div class="skc-box-desc">
				<h4><%= @note.title %></h4>
				<% if !@note.content.blank? %>
					<p>
						<%= sanitize(@note.content) %>
					</p>
				<% end %>
				
				<hr />
				<% @note.subjects.each do |subject| %>
				<%= render partial: "subjects/subject_card", locals: {subject: subject} %>
				<div class="subject-hovercard hovercard" data-id="<%= subject.id %>">
					<%= render partial: 'subjects/subject_hovercard', locals: {subject: subject} %>		
				</div>
				<% end %>
				
				<hr />
				<strong><%= t('.documents') %>:</strong>
				<% if @note.documents.empty? %>
	    	<dd><%= t('no_document') %></dd>
	      <% else %>
		      <% @note.documents.each do |document| %>
		      	<% if document.file_type != '.pdf' %>
		      		<%= link_to image_tag(document.upload.url(:small)), document, class: 'document-popup' %>
	      		<% else %>
	      			<%= link_to image_tag(document.upload.url(:pdf_thumbnail)), document.upload.url %>
	      		<% end %>
					<% end %>
				<% end %>
								
				<hr />
				<%= render partial: "users/author_card", locals: {user: @note.user, date: @note.created_at} %>				
				<div class="author-hovercard hovercard">
					<%= render partial: 'users/user_hovercard', locals: {user: @note.user} %>		
				</div>
								
			</div>
			
			<% if @note.user == @user %>
			<div class="skc-box-menu">
				<a href="#" class="print has-tooltip" data-toggle="tooltip" data-placement="top" title="<%= t('print') %>"><span class="glyphicon glyphicon-print"></span></a>
				<%= link_to edit_note_path(@note.id), class: 'has-tooltip', data: {toggle: "tooltip", placement: "top"}, title: t('edit') do %>
					<span class="glyphicon glyphicon-pencil"></span>
				<% end %>
				<%= link_to @note, method: :delete, data: { confirm: t('delete_confirm') } do %>
					<span class="glyphicon glyphicon-remove"></span>
				<% end %>
			</div>
			<% end %>
			
		</div>
	</div><!-- end of skc-box -->
	
	<div id="note-tags-list">
		<% if @tags.count > 0 %>
		<h4><%= t('tag_plural') %></h4>
		<ul>
			<% @tags.each do |tag| %>
			<li class="label-tag"><%= tag %></li>
			<% end %>
		</ul>
		<% end %>
	</div>
	
</div>
<script>
$(document).ready(function() {

	$(".author-hovercard-target").hovercard({
		content: $(".author-hovercard")
	});
	
	$(".subject-hovercard-target").each(function() {
		var id = $(this).parents(".subject-card").data("id");
		$(this).hovercard({
			content: $(".subject-hovercard[data-id='" + id + "']")
		})
	});
	
	/*For print button*/
	$(".print").on("click", function() {
		window.print();
		return false;
	});
	
	
  /*For ajax popup link in show note page*/	
  $('.document-popup').magnificPopup({
	  type: 'ajax',
    callbacks: {
   		parseAjax: function( mfpResponse ) {
        mfpResponse.data = $(mfpResponse.data).find('#show-document');
		  },
	    ajaxContentAdded: function() {
		    // Ajax content is loaded and appended to DOM
				/* auto resize for textarea */
			  $('textarea').autosize();
			  	
				ajaxSuccess();

				/*New comment*/
				$("#new-comment-form").on("submit", function() {
					$.ajax({
					  url: $(this).attr("action"),
					  dataType: "script",
					  data: $(this).serialize(),
					  type: "post",
					  success: function() {
					  	$("#comment-content").val("");
					  }
					});
					return false;
				});
				
				/*Remove focus on comment btn*/
				$("#comment-btn").on("click", function() {
					$(this).blur();
				});

		  }
		}
	});

});
</script>