	<div class="media" data-id="<%= comment.id %>">
    <a class="pull-left" href="#">
			<%= image_tag(comment.user.display_comment_avatar, class: 'media-object avatar')  %>
    </a>
    <h4 class="media-heading"><%= comment.user.display_name %></h4>
    <div class="media-body">
	    <div class="media-date">
	    	<%= time_ago_in_words(comment.created_at) %><%= t('ago') %>
	  	</div>
	  	<div class="media-content">
	  		<% if comment.content.length > 50 %>
	  		<span class="text-exposed-root">
					<%= sanitize simple_format(truncate(comment.content, length: 50)) %>
					<%= link_to t('.read_more'), '', class: 'media-show-more' %>
	  		</span>
	  		<span class="text-exposed-show">
					<%= sanitize simple_format(comment.content) %>
	  		</span>
	  		<% else %>
					<%= sanitize simple_format(comment.content) %>
				<% end %>
			</div>
    </div>

    <div class="media-menu">
		<% if can? :update, comment %>
			<%= link_to [:edit, comment.commentable, comment], remote: true do %>
				<span class="glyphicon glyphicon-pencil"></span>
			<% end %>
		<% end %>
		<% if can? :update, comment %>
			<%= link_to [comment.commentable, comment], method: :delete, data: { confirm: t('delete_confirm') }, remote: true do %>
				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
		<% end %>
  	</div>
		
  </div>

