	<div class="media" data-id="<%= comment.id %>">
    <a class="pull-left" href="#">
			<%= image_tag(comment.user.display_comment_avatar, class: 'media-object avatar')  %>
    </a>
    <h4 class="media-heading"><%= comment.user.display_name %></h4>
    <div class="media-body">
	    <div class="media-date">
	    	<%= time_ago_in_words(comment.created_at) %><%= t('ago') %>
	  	</div>
			<%= sanitize simple_format(comment.content) %>
    </div>

    <div class="media-menu">
		<% if can? :update, comment %>
			<%= link_to edit_document_comment_path(comment.document, comment), remote: true do %>
				<span class="glyphicon glyphicon-pencil"></span>
			<% end %>
		<% end %>
		<% if can? :update, comment %>
			<%= link_to document_comment_path(comment.document, comment), method: :delete, data: { confirm: t('delete_confirm') }, remote: true do %>
				<span class="glyphicon glyphicon-remove"></span>
			<% end %>
		<% end %>
  	</div>
		
  </div>

