<%= form_for([@document, @comment], html: {class: 'comment-form', remote: true, "data-id" => @comment.id}) do |f| %>
<% if (defined? is_new).nil? %>
	<% is_new = true %>
<% end %>
  <div class="media">
    <a class="pull-left" href="#">
			<%= image_tag(@user.display_comment_avatar, class: 'media-object avatar')  %>
    </a>
    <div class="media-body">
	    <%= f.text_area :content, class: 'form-control', id: 'comment-content' %>
    </div>
    
    <div class="comment-menu">
    <% if is_new %>
	    <%= button_tag class: 'btn btn-green comment-btn', type: 'submit' do %>
		    <span class="glyphicon glyphicon-comment"></span><%= t('.create') %>
	    <% end %>
    <% else %>
			<%= button_tag class: 'btn btn-blue comment-btn', type: 'submit', name: 'is_update', value: true do %>
		    <span class="glyphicon glyphicon-pencil"></span><%= t('.update') %>
	    <% end %>
			<%= button_tag class: 'btn btn-orange comment-btn', type: 'submit', name: 'is_update', value: false do %>
		    <span class="glyphicon glyphicon-remove"></span><%= t('.cancel') %>
	    <% end %>
    <% end %>
    </div>
  </div>
<% end %>
