<div id="search-page">
	
	<!-- search menu start -->
	<div class="col-xs-12 col-md-2 col-sm-2 sidebar-offcanvas">
		<div id="search-menu">
			<ul class="nav">
	      <li>
	      	<%= link_to search_path(query: @query, type: '授業') do %>   
	      		授業	
		      	<% if @subjects.count > 0 %>
		      		<span class="badge badge-sm badge-info pull-right"><%= @subjects.count %></span>
		      	<% end %>
	      	<% end %>
	    	</li>
	    	<% if user_signed_in? %>
	      <li>
	      	<%= link_to search_path(query: @query, type: 'ノート') do %>
	      		ノート
		      	<% if @notes.to_a.count > 0 %>
		      		<span class="badge badge-sm badge-info pull-right"><%= @notes.to_a.count %></span>
		      	<% end %>
	      	<% end %>
	  		</li>
	      <li><a href="#">教員</a></li>
	      <% end %>     
	    </ul>
		</div>
	</div>
	<!-- search menu end -->
	
	<div class="col-xs-12 col-sm-10" id="result">
    <h4><%= @type %></h4>
		<div id="result-content">
			<% if @type == "授業" %>
				<%= render(@subjects) || '授業が見つかりません。' %>
			<% elsif @type == "ノート" %>
				<%= render(@notes) || 'ノートが見つかりません。' %>
			<% end %>						
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		type = getParameterByName("type");
		if (type != "") {
			$("#search-menu a:contains('" + type + "')").attr("class", "active");
		} else if (filter == "") {
			//default
			$("#search-menu a:contains('授業')").attr("class", "active");
		}
	});
</script>