<div id="signin-page" class="clear">
	<div id="signin-header">
		<%= link_to root_url(subdomain: '') do %>
			<%= image_tag("logo.png", id: 'signin-logo') %>
		<% end %>
	<h4>勉強をラクラクに</h4>
	</div>
	<div id="signin-form-wrapper">
    <div class="account-wall">
    	
    	<% if @session_user %>
      	<%= image_tag(@session_user.display_profile_image, class: 'profile-img') %>
    	<% else %>
      	<%= image_tag('avatar_default.png', class: 'profile-img') %>
      <% end %>
      
    	<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>

	    	<% if @session_user %>
				  <%= f.text_field :login, class: 'form-control', placeholder: t('.login_placeholder'), value: @session_user.username, readonly: true %>
			  <% else %>
				  <%= f.text_field :login, class: 'form-control', placeholder: t('.login_placeholder'), autofocus: true %>
			  <% end %>
		    <%= f.password_field :password, placeholder: t('.password_placeholder'), autocomplete: "off", class: 'form-control' %>
		    <% if flash[:alert] %>
		      <ul>
		  			<% flash.each do |name, msg| %>
			        <li class="error-msg"><%= msg %></li>
			    	<% end %>
		      </ul>
		    <% end %>
    			
			  <%= f.submit t(".login"), class: 'btn btn-lg btn-orange btn-block' %>
			  
			  <% if devise_mapping.rememberable? -%>
			  <label>
			    <%= f.check_box :remember_me, checked: true %> 
			    <span><%= t ".remember_me" %></span>
		    </label>
			  <% end %>
				<hr />
			  <%= render "users/shared/links" %>
			
			<% end %>
    </div>
  </div>
</div>
<script>
		$("body").css("background-color", "#fff");

		$.ajax({
		  url: "" + window.location.protocol + "//connect.facebook.net/en_US/all.js",
		  dataType: 'script',
		  cache: true,
		  beforeSend: function() {
				//add fb-root element
			  $('body').prepend('<div id="fb-root"></div>');
		  }
		});
		
		window.fbAsyncInit = function() {
		  FB.init({
		    appId: FbAppId,
		    cookie: true
		  });
		
			$('#fb-login').on("click", function(e) {
			  e.preventDefault();
			  if (navigator.userAgent.match('CriOS')) {
	    		window.open('https://www.facebook.com/dialog/oauth?client_id=' + FbAppId + '&redirect_uri=' + location.protocol + "//" + location.host + '/users/auth/facebook/callback' + '&scope=email', '', null);
			  } else {
				  FB.login((function(response) {
				    if (response.authResponse) {
				    	// callback for users
				      return window.location = '/users/auth/facebook/callback';
				    }
				  }), {
				  	// need email for sign up
				    scope: "email"
				  });
			  }
	
			});
		};
		
</script>
