<div id="signin-page" class="clear">
	<div id="signin-header">
		<%= link_to root_url(subdomain: '') do %>
			<%= image_tag("logo.png", id: 'signin-logo') %>
		<% end %>
	<h4>勉強をラクラクに</h4>
	</div>
	<div id="signin-form-wrapper">
      <div class="account-wall">
          <%= image_tag('avatar_default.png', class: 'profile-img') %>
        	<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>

					  <%= f.text_field :login, class: 'form-control', placeholder: t('.login_placeholder'), autofocus: true %>
				    <%= f.password_field :password, placeholder: t('.password_placeholder'), autocomplete: "off", class: 'form-control' %>
				    <% if flash[:alert] %>
				      <ul>
				  			<% flash.each do |name, msg| %>
					        <li class="error-msg"><%= msg %></li>
					    	<% end %>
				      </ul>
				    <% end %>
		    			
					  <%= f.submit t(".login"), class: 'btn btn-lg btn-orange btn-block' %>
					  
					  <% if devise_mapping.rememberable? -%>
					  <label>
					    <%= f.check_box :remember_me, checked: true %> 
					    <span><%= t ".remember_me" %></span>
				    </label>
					  <% end %>
						<hr />
					  <%= render "users/shared/links" %>
					
					<% end %>
      </div>
  </div>
</div>
<script>
	$(document).ready(function() {

		$("body").css("background-color", "#fff");

		//add fb-root element
	  $('body').prepend('<div id="fb-root"></div>');

		$.ajax({
		  url: "" + window.location.protocol + "//connect.facebook.net/en_US/all.js",
		  dataType: 'script',
		  cache: true
		});
		
		window.fbAsyncInit = function() {
		  FB.init({
		    appId: FbAppId,
		    cookie: true
		  });
		};
		
		$('#fb-login').click(function(e) {
		  e.preventDefault();
		  if (navigator.userAgent.match('CriOS')) {
    		window.open('https://www.facebook.com/dialog/oauth?client_id=' + FbAppId + '&redirect_uri=' + document.domain + '/users/auth/facebook/callback' + '&scope=email', '', null);
		  } else {
			  FB.login((function(response) {
			    if (response.authResponse) {
			    	// callback for users
			      return window.location = '/users/auth/facebook/callback';
			    }
			  }), {
			  	// need email for sign up
			    scope: "email"
			  });
		  }

		});
		
	});
</script>
