<div id="signin-page" class="clear">
	<div id="signin-header">
	<%= image_tag("logo.png", id: 'signin-logo') %>
	<h4>勉強をラクラクに</h4>
	</div>
	<div id="signin-form-wrapper">
      <div class="account-wall">
          <%= image_tag('avatar_default.png', class: 'profile-img') %>
        	<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
		
					  <%= f.text_field :login, class: 'form-control', placeholder: 'EmailまたはID', autofocus: true %>
				    <%= f.password_field :password, placeholder: 'パスワード', autocomplete: "off", class: 'form-control' %>
					
					  <%= f.submit "ログイン", class: 'btn btn-lg btn-orange btn-block' %>
					  
					  <% if devise_mapping.rememberable? -%>
					  <label>
					    <%= f.check_box :remember_me, checked: true %> 
					    <span>次回から自動的にログイン</span>
				    </label>
					  <% end %>
						<hr />
					  <%= render "users/shared/links" %>
					
					<% end %>
      </div>
  </div>

</div>
