<h1>Listing faculties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>University</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.name %></td>
        <td><%= faculty.website %></td>
        <td><%= faculty.university_id %></td>
        <td><%= link_to 'Show', [faculty.university, faculty] %></td>
        <td><%= link_to 'Edit', edit_university_faculty_path(faculty.university, faculty) %></td>
        <td><%= link_to 'Destroy', [faculty.university, faculty], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faculty', new_university_faculty_path %>
