<fieldset>
<p>
	<strong>学校:</strong>
	<% if f.object.university %>
		<%= f.select :university_id, options_from_collection_for_select(@universities,"id","name", selected: f.object.university.id), {include_blank: true}, {class: "form-control selectpicker show-tick", data: {width: 'auto'}, title: ''} %>					
	<% else %>
		<%= f.select :university_id, options_from_collection_for_select(@universities,"id","name"), {include_blank: true}, {class: "form-control selectpicker show-tick", data: {width: 'auto'}, title: ''} %>					
	<% end %>
</p>
<p>
	<strong>学部・研究科:</strong>
	<% if f.object.faculty %>
		<%= f.select :faculty_id, options_from_collection_for_select(@faculties,"id","name", selected: f.object.faculty.id), {include_blank: true}, {class: "form-control selectpicker show-tick", data: {width: 'auto'}, title: ''} %>
	<% else %>
		<%= f.select :faculty_id, options_from_collection_for_select(@faculties,"id","name"), {include_blank: true}, {class: "form-control selectpicker show-tick", data: {width: 'auto'}, title: ''} %>
	<% end %>
</p>
<p>
	<strong>学科・コース:</strong>
	<% if f.object.course %>
		<%= f.select :course_id, options_from_collection_for_select(@courses,"id","name", selected: f.object.course.id), {include_blank: true}, {class: "form-control selectpicker show-tick", data: {width: 'auto'}, title: ''} %>
	<% else %>
		<%= f.select :course_id, options_from_collection_for_select(@courses,"id","name"), {include_blank: true}, {class: "form-control selectpicker show-tick", data: {width: 'auto'}, title: ''} %>
	<% end %>	
</p>
	<%= f.hidden_field :_destroy %>
	<%= link_to '#', class: 'remove_fields' do %>
	<span class="glyphicon glyphicon-remove"></span>
	<% end %>
</fieldset>	
