<div id="user-edit">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("user.png")  %>
			</div>
			<div class="skc-box-desc">
				<h4><%= @user.username %></h4>
				<hr />
				<% if @user.avatar.exists? %>
				<div class="fileinput fileinput-exists" data-provides="fileinput">
				<% else %>
				<div class="fileinput fileinput-new" data-provides="fileinput">
				<% end %>
				  <div class="fileinput-new thumbnail thumbnail-sm">
				  </div>
				  <div class="fileinput-preview fileinput-exists thumbnail thumbnail-preview-sm">
				  <% if @user.avatar.exists? %>
				  	<%= image_tag @user.avatar.url(:original) %>
			  	<% end %>
				  </div>
				  <div>
				    <span class="btn btn-default btn-file">
				    	<span class="fileinput-new">Select image</span>
				    	<span class="fileinput-exists">Change</span>
				  		<%= f.file_field :avatar %>
			    	</span>
				    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
				  </div>
				</div>
				<hr />
				<p>
					<strong>ニックネーム:</strong>
					<%= f.text_field :nickname, class: 'form-control form-control-inline' %>
				</p>
				<p>
					<strong>メール:</strong>
					<%= f.text_field :email, class: 'form-control form-control-inline' %>
				</p>
				<hr />
				<h5>学歴</h5><br />
				<%= render template: 'educations/index', locals: {isEditable: true} %>
				<%= link_to new_user_education_path(@user), {class: 'btn btn-default education-popup'} do %>
				<span class="glyphicon glyphicon-plus"></span>追加
				<% end %>
				<hr />
				<p>
					<strong>パスワード確認:</strong>
					<%= f.password_field :password_confirmation, class: 'form-control form-control-inline'%>
				</p>
				<hr />
			</div>
			<%= f.submit '登録', class: 'btn btn-success col-sm-2 col-sm-offset-5 col-xs-12 col-xs-offset-0'%>
			<br />
		</div>
	</div>
<% end %>
</div>

<script>
	function change_university() {
		var university_id = $("#user_educations_university_id").val();
		$.ajax({
				url:"<%= url_for(action: 'faculty', controller: 'users') %>",	
				data:'university_id=' + university_id,
				dataType: "script"
			}
		);
	}
	function change_faculty() {
		var faculty_id = $("#user_educations_faculty_id").val();
		$.ajax({
				url:"<%= url_for action: 'course'%>",	
				data:'faculty_id=' + faculty_id,
				dataType: "script"
			}
		);
	}
	$('document').ready(function() {
		$('.fileinput').fileinput();
		$('#user_educations_university_id').on("change", change_university);
		$('#user_educations_faculty_id').on("change", change_faculty);
	});
</script>