<%= form_for @user, html: {class: 'form-signin'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

		<div class="field">
	    <%= f.label :username, 'Username'%><br>
	    <%= f.text_field :username, class: 'form-control' %>
	  </div>
	  <div class="field">
	    <%= f.label :password%><br>
	    <%= f.password_field :password, class: 'form-control'%>
	  </div>
	  <div class="field">
	    <%= f.label :password_confirmation%><br>
	    <%= f.password_field :password_confirmation, class: 'form-control'%>
	  </div>
	  <div class="field">
	    <%= f.label :email %><br>
	    <%= f.text_field :email, class: 'form-control' %>
	  </div>
	  <div class="field">
	  	<%= f.label :university_id %>
	  	<%= f.select :university_id, options_from_collection_for_select(@universities,"id","name"), include_blank: true, class: "form-control" %>
	  </div>
	  <div class="field">
	  	<%= f.label :faculty_id %>
	  	<%= f.select :faculty_id, options_from_collection_for_select(@faculties,"id","name"), class: "form-control" %>
	  </div>
	  <div class="actions">
	    <%= f.submit 'Sign up', class: 'btn btn-lg btn-primary btn-block'%>
	  </div>
<% end %>
<script>
	function change_university() {
		var university_id = $("#user_university_id").val();
		$.ajax({
				url:"<%= url_for action: 'faculty'%>",	
				data:'university_id=' + university_id,
			}
		);
	}
	$('document').ready(function() {
		$('#user_university_id').on("change", change_university);
	});
</script>