<div id="user-edit">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="skc-box">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("user.png")  %>
			</div>
			<div class="skc-box-desc">
				<%= f.text_field :username, class: 'form-control', placeholder: 'ユーザー名:' %>
				<hr />
				<% if isNew %>
				<p>
					<strong>パスワード:</strong>
					<%= f.password_field :password, class: 'form-control'%>
				</p>
				<% end %>
				<p>
					<strong>パスワード確認:</strong>
					<%= f.password_field :password_confirmation, class: 'form-control'%>
				</p>
				<p>
					<strong>メール:</strong>
					<%= f.text_field :email, class: 'form-control' %>
				</p>
				<hr />
				<h5>学歴</h5><br />
				<%= f.fields_for :educations do | builder | %>
					<%= render 'education_fields', f: builder %>		
				<% end %>
				<%= link_to_add_fields f, :educations, {class: 'btn btn-default'} do %>
				<span class="glyphicon glyphicon-plus"></span>追加
				<% end %>
			</div>
			<%= f.submit '登録', class: 'btn btn-success col-sm-2 col-sm-offset-5 col-xs-12 col-xs-offset-0'%>
			<br />
		</div>
	</div>
<% end %>
</div>

<script>
	function change_university() {
		var university_id = $("#user_educations_university_id").val();
		$.ajax({
				url:"<%= url_for action: 'faculty'%>",	
				data:'university_id=' + university_id,
				dataType: "script"
			}
		);
	}
	function change_faculty() {
		var faculty_id = $("#user_educations_faculty_id").val();
		$.ajax({
				url:"<%= url_for action: 'course'%>",	
				data:'faculty_id=' + faculty_id,
				dataType: "script"
			}
		);
	}
	$('document').ready(function() {
		$('.selectpicker').selectpicker();
		$('#user_educations_university_id').on("change", change_university);
		$('#user_educations_faculty_id').on("change", change_faculty);
	});
</script>