<div id="profile">
<p>
  <strong>ユーザー名:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>メール:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>学校:</strong>
  <%= @user.university.name %>
</p>
<%= render template: 'schedule/index' %>
<%= link_to '編集', edit_user_path(@user), class: 'btn btn-success col-md-2 col-md-offset-5' %>
</div>

