<div id="profile">
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag(@user.display_profile_image) %>
			</div>
			<div class="skc-box-desc">
				<h4><%= @user.display_name %></h4>
				<hr />
				
				<% if @user == current_user %>
					<p>
						<strong><%= t('email') %>:</strong>
						<%= @user.email %>
					</p>
					<hr />
	      <% end %>
	      
	      <% if @user.settings(:education).public == 1 || @user == current_user %>
					<h5><%= t('.education') %></h5>
					<%= render template: 'educations/index' %>
					<hr />
				<% end %>
					
				<% if @user == current_user %>
					<p>
						<strong><%= t('.schedule') %>:</strong>
						<%= link_to image_tag("user_schedule.png", class: 'calendar'), schedule_path, class: 'has-tooltip', data: {placement: "right", toggle: "tooltip"}, title: t('schedule') %>
					</p>
	      <% end %>
	      
			</div>
		  <% if @user == current_user %>
	  		<div class="skc-box-menu">
			  	<%= link_to edit_user_registration_path, class: 'has-tooltip', data: {placement: "top", toggle: "tooltip"}, title: t('edit') do %>
			  	<span class="glyphicon glyphicon-pencil"></span>
			  	<% end %>
				</div>
				<div class="skc-box-menu-bottom">
  				<%= link_to destroy_user_session_path, method: :delete, class: 'has-tooltip', data: {placement: "top", toggle: "tooltip"}, title: t('.logout') do %>
  					<%= image_tag('user_logout.png') %>
  				<% end %>
				</div>
		  <% end %>
		</div>
	</div>
</div>
