<div id="profile">
	<div class="skc-box">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<% if @user.avatar %>
				<%= image_tag @user.avatar.url(:small) %>
				<% else %>
				<%= image_tag("user.png")  %>
				<% end %>
			</div>
			<div class="skc-box-desc">
				<h4><%= @user.username %></h4>
				<hr />
				<p>
					<strong>メール:</strong>
					<%= @user.email %>
				</p>
				<hr />
				<p>
					<% if @user == User.find_by_id(session[:user_id]) %>
						<strong>時間割表:</strong>
						<%= link_to image_tag("calendar.jpeg", class: 'calendar'), schedule_path %>
		      <% end %>
				</p>
			</div>
		  <% if @user == User.find_by_id(session[:user_id]) %>
	  		<div class="skc-box-menu">
			  	<%= link_to edit_user_path(@user) do %>
			  	<span class="glyphicon glyphicon-pencil"></span>
			  	<% end %>
				</div>
		  <% end %>
		</div>
	</div>
</div>
