<div id="profile">
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag(@user.display_profile_image) %>
			</div>
			<div class="skc-box-desc">
				<h4><%= @user.username %></h4>
				<hr />
				<p>
					<strong>メール:</strong>
					<%= @user.email %>
				</p>
				<hr />
				<% if @user == current_user %>
					<h5>学歴</h5><br />
					<p class="notice">*現在有効な学歴のラジオボタンをOnにしてください</p>
					<%= render template: 'educations/index' %>
					<hr />
					<p>
						<strong>時間割表:</strong>
						<%= link_to image_tag("calendar.jpeg", class: 'calendar'), schedule_path %>
					</p>
	      <% end %>
			</div>
		  <% if @user == current_user %>
	  		<div class="skc-box-menu">
			  	<%= link_to edit_user_registration_path do %>
			  	<span class="glyphicon glyphicon-pencil"></span>
			  	<% end %>
				</div>
		  <% end %>
		</div>
	</div>
</div>
