		<%= link_to_previous_page @subjects, '', remote: true, params: {search: @search}, class: 'previous-btn' %>
		<%= link_to_next_page @subjects, '', remote: true, params: {search: @search}, class: 'next-btn' %>
		
<ul data-page="<%= @page %>">
<% @subjects.each do |subject| %>
	<li class="subject-item subject-item-sm subject-draggable <%= @user.current_subjects.include?(subject)? 'active' : ''  %>" data-id="<%= subject.id %>">
      <div class="subject-details">
	      <p class="subject-name">	<%= link_to subject.name, subject %></p>
      </div>
      <div class="subject-info">
				<div class="subject-teacher-left">
	      	<% subject.teachers.each do |teacher| %>
	      		<% if teacher != subject.teachers.first  %>
	      		&bull;
	      		<% end %>
	      		<%= teacher.name_kanji %>
      		<% end %>
	      </div>
	      <div class="subject-add label-white">
	      	<% if @user.current_subjects.include?(subject) %>
	      		<%= link_to schedule_destroy_path(subject: subject.id, search: @search, page: @page), method: :delete, remote: true do %>
		      		<span class="glyphicon glyphicon-remove"></span>
		      	<% end %>
	      	<% else %>
		      	<%= link_to schedule_create_path(subject: subject.id, search: @search, page: @page), method: :post, remote: true do %>
		      		<span class="glyphicon glyphicon-plus"></span>
		      	<% end %>
	      	<% end %>
      	</div>
      	<div class="subject-badge">
		      <div class="subject-course label-orange">
		      	<%= subject.course.name %>
	      	</div>
	      	<div class="subject-year label-navi">
						<%= subject.year %>
					</div>
    		</div>
    	</div>
 	</li>
<% end %>
</ul>
<script>
  $(".subject-draggable").draggable({
    revert: true,
    revertDuration: 0,
    stack: ".subject-draggable"
  });
</script>