<table class="table table-bordered schedule-table">
	<tr class="hidden-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do | d |%>
		<th><%= t('date.day_names')[d] %></th>
		<% end %>
	</tr>
	<tr class="visible-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do | d |%>
		<th><%= t('date.abbr_day_names')[d] %></th>
		<% end %>
	</tr>
	<% 1.upto(Period::MAX_TIME).each do | t | %>
	<tr>
		<td class="period hidden-xs"><%= t('date.period_names')[t] %></td>
		<td class="period visible-xs"><%= t('date.abbr_period_names')[t] %></td>
		<% 1.upto(Period::MAX_DAY).each do | d | %>
			<td class="cell" data-day="<%= d %>" data-time="<%= t %>">
				<!-- <ul>
					<% periods[[d, t]].each do | subject | %>
					<li><%= link_to subject.name, subject %></li>
					<% end %>
				</ul> -->			
				<%= periods[[d, t]].count if periods[[d, t]].count > 0 %>
			</td>
		<% end %>
	</tr>
	<% end %>
</table>
<script>
	var query = $("#filter-schedule #search").val();

	$("#schedule-table").droppable({
		accept: ".subject-draggable",
    drop: function( event, ui ) {
      $.ajax({
      	url: "/schedule/",
      	type: "post",
      	data: {subject: ui.draggable[0].getAttribute("data-id"), page: "<%= @page %>", search: query },
      	dataType: "script",
      });
    },
    over: function( event, ui ) {

    }
	});
	
	$("#schedule-table").on("click", ".cell", function() {
		$.ajax({
			url: "/schedule/subject",
			dataType: "json",
			data: {day: $(this).data("day"), time: $(this).data("time") },
			success: function(data) {
				console.log(data[0]);
			}
		})
	});

</script>
