<table class="table table-bordered">
	<tr class="hidden-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do | d |%>
		<th><%= Period.day_names(d) %></th>
		<% end %>
	</tr>
	<tr class="visible-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do | d |%>
		<th><%= Period.day_names_short(d) %></th>
		<% end %>
	</tr>
	<% 1.upto(Period::MAX_TIME).each do | t | %>
	<tr>
		<td class="period hidden-xs"><%= Period.time_names(t) %></td>
		<td class="period visible-xs"><%= Period.time_names_short(t) %></td>
		<% 1.upto(Period::MAX_DAY).each do | d | %>
			<% if @periods[[d, t]].blank? %>
				<td class="cell"></td>
			<% else %>
				<td class="cell">
					<ul>
						<% @periods[[d, t]].each do | subject | %>
						<li><%= link_to subject.name, subject %></li>
						<% end %>
					</ul>					
				</td>
			<% end %>
		<% end %>
	</tr>
	<% end %>
</table>
<script>
$(document).ready(function() {
	
	$("#schedule-table").droppable({
		accept: ".subject-draggable",
    drop: function( event, ui ) {
      $.ajax ({
      	url: "/schedule/",
      	type: "post",
      	data: {subject: ui.draggable[0].getAttribute("data-id"), page: "<%= @page %>", search: "<%= @search %>" },
      	dataType: "script",
      });
    },
    over: function( event, ui ) {
    	
    }
	});
});

</script>
