<div id="schedule" class="clear">
<div id="schedule-content" class="col-sm-8 col-xs-12 pull-right">
		<div id="schedule-content-header">
			<%= image_tag('user_schedule.png') %>
			<span><%= t('schedule') %></span>
		</div>
		<div id="schedule-table-wrapper">
			<%= render partial: 'schedule_table', locals: { periods: @periods, view_option: @view_option } %>
		</div>
	</div>
	<div id="schedule-menu" class="col-sm-4 col-xs-12 pull-left">
		<div id="schedule-search-form">
			<%= form_tag schedule_path, method: :get, class: 'search-form', id: 'schedule-search' do %>
		    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t('subject_search'), autocorrect: "off", autocapitalize: "off" %>
			<% end %>
		</div>

		<div id="schedule-sub-list">
			<%= render 'list_subjects_on_schedule' %>
		</div>
	</div>
</div>
