<% if user_signed_in? %>
	<div id="home-schedule" class="col-sm-12 col-md-9">
		<div class="skc-box skc-box-no-padding skc-box-lg">
			<div class="skc-box-content">
				<div class="skc-box-title-no-margin">
	        <h4><%= t 'schedule' %></h4>
		    </div>
				<div class="skc-box-desc-no-padding">
					<%= render partial: 'schedule/schedule_table', locals: {periods: @periods} %>
				</div>
			</div>
		</div>
	</div>
<% end %>
	<div id="home-widget" class="col-sm-12 col-md-3">
		
		<% if user_signed_in? %>
		<div class="skc-box skc-box-sm skc-box-no-padding">
			<div class="skc-box-content">
				<div class="skc-box-thumbnail skc-box-thumbnail-visible">
					<%= image_tag("note.png")  %>
				</div>
				<div class="skc-box-desc">
					<h4><%= t 'note' %></h4>
					<p>
						<%= t 'new_arrival_note' %>: <%= Note.unread_by(@user).count %>
					</p>
				</div>
			</div>
		</div>
		<% end %>
		
		<%= link_to subjects_path do %>
		<div class="skc-box skc-box-sm skc-box-no-padding">
			<div class="skc-box-content">
				<div class="skc-box-thumbnail skc-box-thumbnail-visible">
					<%= image_tag("lecture.png")  %>
				</div>
				<div class="skc-box-desc">
					<h4><%= t 'subject' %></h4>
					<p>
						<%= t '.subject_number' %>: <%= current_university.subjects.count %>
					</p>
				</div>
			</div>
		</div>
		<% end %>
	</div>