<div id="home" class="">
	
	<div id="home-right-panel" class="hidden-xs">
		<div id="home-user-profile">
			<%= render 'users/user_profile_card', user: @user %>
		</div>
		<div id="widgets">
			<div class="widget">
				<div class="widget-header">
					<div class="widget-icon"><i class="fa fa-clock-o"></i></div>
					<div class="widget-header-name"><%= t('.latest_note') %></div>
					<div class="notice-2"><%= t('.latest_note_notice') %></div>
				</div>
				<div class="widget-content clear">
					<%= render(partial: 'notes/note_xs', collection: @notes, as: :note, locals: {show_subject: true}) || content_tag(:div, t('note_not_found'), class: 'message-xs') %>
				</div>
			</div>
		</div>
	</div>
		
	<div id="home-activities" class="clear">
		<div id="activities">
			<%= render 'activity_list', activities: @activities || t('.activity_not_found') %>
		</div>
		<div class="hidden-pagination">
			<%= paginate @activities %>										
		</div>
	</div>
	
</div>