<div id="subject-edit" data-id="<%= @subject.id %>">
	<%= form_for(@subject) do |f| %>
	  
	<div class="skc-box skc-box-lg">
			<div class="skc-box-content">
				<div class="skc-box-thumbnail">
					<%= image_tag("lecture.png")  %>
				</div>
				<div class="skc-box-title">
	    		<%= f.text_area :name, class: 'form-control', rows: 1, placeholder: '授業名' %>
	    		<% if @subject.errors[:name] %>
	    			<ul>
			      <% @subject.errors.full_messages_for(:name).each do |msg| %>
			        <li class="error-msg"><%= msg %></li>
			      <% end %>
			      </ul>
	    		<% end %>
					<hr />
		    </div>
				<div class="skc-box-desc">
	<% if @subject.picture.exists? %>
	<div class="fileinput fileinput-exists" data-provides="fileinput">
	<% else %>
	<div class="fileinput fileinput-new" data-provides="fileinput">
	<% end %>
	  <div class="fileinput-new thumbnail thumbnail-sm">
	  </div>
	  <div class="fileinput-preview fileinput-exists thumbnail thumbnail-preview-sm">
	  <% if @subject.picture.exists? %>
	  	<%= image_tag @subject.picture.url(:original) %>
  	<% end %>
	  </div>
	  <div>
	    <span class="btn btn-default btn-file">
	    	<span class="fileinput-new">Select image</span>
	    	<span class="fileinput-exists">Change</span>
	  		<%= f.file_field :picture %>
    	</span>
	    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
	  </div>
	  <% if @subject.errors[:picture] %>
			<ul>
      <% @subject.errors.full_messages_for(:picture).each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
      </ul>
		<% end %>
	</div>
					<p>
						<strong>概要:</strong>
						<%= f.text_area :description, class: 'form-control', id: 'subject-description' %>
					</p>
					<p>
						<strong>所属学科:</strong>
						<% if @subject.course %>
						<%= f.select :course_id	, options_from_collection_for_select(@courses,"id","name", selected: @subject.course.id), {}, {class: 'selectpicker show-tick', data: {width: 'auto'}} %>
						<% else %>
						<%= f.select :course_id	, options_from_collection_for_select(@courses,"id","name"), {}, {class: 'selectpicker show-tick', data: {width: 'auto'}} %>
						<% end %>
					</p>
					<p>
						<strong>学年:</strong>
						<% if @subject.uni_year %>
						<%= f.select :uni_year_id	, options_from_collection_for_select(@uni_years,"id","name", selected:@subject.uni_year.id), {include_blank: true}, {class: 'selectpicker show-tick', data: {width: 'auto'}} %>
						<% else %>
						<%= f.select :uni_year_id	, options_from_collection_for_select(@uni_years,"id","name"), {include_blank: true}, {class: 'selectpicker show-tick', data: {width: 'auto'}} %>
						<% end %>
		    		<% if @subject.errors[:uni_year_id] %>
		    			<ul>
				      <% @subject.errors.full_messages_for(:uni_year_id).each do |msg| %>
				        <li class="error-msg"><%= msg %></li>
				      <% end %>
				      </ul>
		    		<% end %>
						<strong>学期:</strong>
						<% if @subject.semester %>
						<%= f.select :semester_id, options_from_collection_for_select(@semesters,"id","name",selected: @subject.semester.id), {}, {class: 'selectpicker show-tick', data: {width: 'auto'}} %>
						<% else %>
						<%= f.select :semester_id, options_from_collection_for_select(@semesters,"id","name"), {}, {class: 'selectpicker show-tick', data: {width: 'auto'}} %>
						<% end %>
		    		<% if @subject.errors[:semester_id] %>
		    			<ul>
				      <% @subject.errors.full_messages_for(:semester_id).each do |msg| %>
				        <li class="error-msg"><%= msg %></li>
				      <% end %>
				      </ul>
		    		<% end %>
					</p>
					<p>
						<strong>年度:</strong>
						<% if @subject.year %>
						<%= f.select :year, options_for_select(@years, selected: @subject.year), {}, {class: 'selectpicker show-tick', data: {width: 'auto'}} %>
						<% else %>
						<%= f.select :year, options_for_select(@years), {}, {class: 'selectpicker show-tick', data: {width: 'auto'}} %>
						<% end %>
					</p>
					<p>
						<strong>講義室:</strong>
						<%= f.text_field :place, class: 'form-control form-control-inline' %>
					</p>
					<p>
						<strong>教員:</strong>
						<% if @subject.teachers %>
						<%= select_tag :teachers, options_for_select(@teachers.map { |t| [t.name_kanji, t.id] }, selected: @subject.teachers.map { |t| t.id }), class: 'selectpicker show-tick', data: {width: 'auto'}, multiple: true, title: '' %>
						<% else %>
						<%= select_tag :teachers, options_for_select(@teachers.map { |t| [t.name_kanji, t.id] }), class: 'selectpicker show-tick', data: {width: 'auto'}, multiple: true, title: '' %>
						<% end %>
					</p>
					
					<hr />
					
					<p>
						<h5>時間割</h5>
						<%= f.fields_for :periods do | builder | %>
							<%= render 'period_fields', f: builder %>		
						<% end %>
						<%= link_to_add_fields f, :periods, {class: 'btn btn-default'} do %>
						<span class="glyphicon glyphicon-plus"></span>追加
						<% end %>
					</p>
					
					<hr />
					
 					<a name="syllabus"></a>
					<p>
						<h5>シラバス</h5>
						<% if @subject.outlines.count > 0 %>
							<%= select_tag :number_of_outlines, options_for_select(@number_of_outlines_list, selected: @subject.outlines.count), class: 'selectpicker show-tick', data: {width: 'auto', link: outline_subject_path}, id: 'number-of-outlines-select' %>
							<div id="syllabus-table">
								<%= render 'syllabus_table', editable: true %>
							</div>
						<% else %>
							<%= select_tag :number_of_outlines, options_for_select(@number_of_outlines_list), class: 'selectpicker show-tick', data: {width: 'auto'} %>
						<% end %>
					</p>
					
					<div class='tag-form'>
						<div class='tag-menu'>
				   		<div class="btn btn-primary btn-xs tag-menu-btn">ゼミ</div>
				   		<div class="btn btn-primary btn-xs tag-menu-btn">通年</div>
				   		<div class="btn btn-primary btn-xs tag-menu-btn">集中講義</div>
				   		<div id="remove-all" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>クリア</div>
			      </div>
			      <%= text_area_tag 'tags', nil, class: 'tag-input' %>
					</div>
				</div>
				<br />
				<%= f.submit '登録', class: 'btn btn-success col-sm-2 col-sm-offset-5 col-xs-12 col-xs-offset-0' %>
			</div>
		</div>
		
	<% end %>
</div>
