<table class="table table-bordered" id="subject-table">
	<tr class="hidden-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do |d| %>
		<th><%= Period.day_names(d) %></th>
		<% end %>
	</tr>
	<tr class="visible-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do |d| %>
		<th><%= Period.day_names_short(d) %></th>
		<% end %>
	</tr>
	<% 1.upto(Period::MAX_TIME).each do |t| %>
	<tr>
		<td class="period hidden-xs"><%= Period.time_names(t) %></td>
		<td class="period visible-xs"><%= Period.time_names_short(t) %></td>
		<% 1.upto(Period::MAX_DAY).each do |d| %>
			<td class="cell" data-day="<%= d %>" data-time="<%= t %>">
				<div class="subject-table-add"><span class="glyphicon glyphicon-plus"></span></div>
				<div class="subject-table-ok"><span class="glyphicon glyphicon-ok"></span></div>
				<div class="subject-table-remove" data-confirm="Are you sure?"><span class="glyphicon glyphicon-remove"></span></div>
			</td>
		<% end %>
	</tr>
	<% end %>
</table>

<script>

	//add old periods if exist
	if ($(".subjects").hasClass("edit") || $(".subjects").hasClass("update")) {
			$.getJSON("/subjects/" + $("#subject-edit").data("id") + "/periods.json", function(data, status) {
		  $.each(data, function( key, val ) {
		  	$("#subject-table .cell[data-day='" + val.day + "'][data-time='" + val.time + "']").addClass("active");
  			$("#subject-table").append("<input id='periods' multiple='true' name='periods[]' type='hidden' value=" + [val.day, val.time] + ">");
		  });
		});
	}

	//add btn
	$("#subject-table").on("click", ".cell .subject-table-add", function() {
		var cell = $(this).parent();
		$("#subject-table").append("<input id='periods' multiple='true' name='periods[]' type='hidden' value=" + [cell.data("day"), cell.data("time")] + ">");
		cell.addClass("active");
	});
	
	//remove btn
	$("#subject-table").on("click", ".cell.active .subject-table-remove", function() {
		var cell = $(this).parent();
		$("#subject-table input[value='" + [cell.data("day"), cell.data("time")] + "']").remove();
		cell.removeClass("active");
	});
	
</script>
