<table class="table table-bordered" id="subject-table">
	<tr class="hidden-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do |d| %>
		<th><%= t('date.day_names')[d] %></th>
		<% end %>
	</tr>
	<tr class="visible-xs">
		<th></th>
		<% 1.upto(Period::MAX_DAY).each do |d| %>
		<th><%= t('date.abbr_day_names')[d] %></th>
		<% end %>
	</tr>
	<% 1.upto(Period::MAX_TIME).each do |t| %>
	<tr>
		<td class="period hidden-xs"><%= t('date.period_names')[t] %></td>
		<td class="period visible-xs"><%= t('date.abbr_period_names')[t] %></td>
		<% 1.upto(Period::MAX_DAY).each do |d| %>
			<td class="cell" data-day="<%= d %>" data-time="<%= t %>">
				<div class="subject-table-add"><span class="glyphicon glyphicon-plus"></span></div>
				<div class="subject-table-ok"><span class="glyphicon glyphicon-ok"></span></div>
				<div class="subject-table-remove" data-confirm="Are you sure?"><span class="glyphicon glyphicon-remove"></span></div>
			</td>
		<% end %>
	</tr>
	<% end %>
</table>
