<div class='subject-item-xs'>	
  <div class="subject-details">
  	<%= link_to subject do %>
    <p class="subject-name"><%= subject.name %></p>
    <% end %>
    <hr class="hr-narrow" />
		<p class="subject-desc">
			<%= strip_tags(subject.description) %>
		</p>
  </div>
  <div class="subject-info">
  	<div class="subject-notes-number">
  		<span><%= subject.notes.count %></span>
  		<%= image_tag("note.png") %>
		</div>
		<div class="subject-teacher">
    	<% subject.teachers.each do |teacher| %>
    		<% if teacher != subject.teachers.first  %>
    		&bull;
    		<% end %>
    		<%= teacher.name_kanji %>
  		<% end %>
    </div>
    <div class="subject-badge">
    	<% if defined?(show_semester) && show_semester %>
    		<div class="subject-course label-blue">
	      	<%= subject.semester.uni_year.name %><%= subject.semester.name %>
      	</div>
    	<% end %>
      <% if defined?(show_course) && show_course %>
	      <div class="subject-course label-orange">
	      	<%= subject.course.name %>
      	</div>
    	<% end %>
    	<div class="subject-year label-navi">
				<%= subject.year %>
			</div>
  	</div>
	</div>
</div>
