<%= link_to subject, class: 'subject-item-line' do %>
	<div class="subject-thumbnail-line">
  		<%= image_tag(subject.display_picture_small) %>
  </div> 
	
  <div class="subject-info-line">
  	<div class="subject-year-line">
			<%= subject.year %>年
		</div>
		
		<div class="subject-course-line">
    	<%= subject.semester.uni_year.name %><%= subject.semester.name %>
  	</div>		
    
    <!--
		<div class="subject-notes-number-line">
  		<span><%= subject.notes.count %></span>
  		<%= image_tag("note.png") %>
		</div>
		-->
	</div>
	
  <div class="subject-details-line">
    <div class="subject-name-line"><%= subject.name %></div>
		<div class="subject-teacher-line">
    	<% subject.teachers.each do |teacher| %>
    		<% if teacher != subject.teachers.first  %>
    		・
    		<% end %>
    		<%= teacher.name_kanji %>
  		<% end %>
    </div>
		<div class="subject-desc-line">
			<%= strip_tags(subject.description) %>
		</div>
  </div>
  
<% end %>