<div class="subject-hovercard-item">
	<div class="subject-hovercard-img">
	<%= link_to subject do %>
		<%= image_tag(subject.display_picture_small) %>
	<% end %>
	</div>
	<div class="subject-hovercard-content">
		<div class="subject-hovercard-name">
			<%= subject.name %>
		</div>
		<div class="subject-hovercard-desc">
			<%= subject.description %>
		</div>
		<div class="subject-hovercard-info">
			<span class="label-blue label-xs"><%= subject.year %></span>
			<span class="label-green label-xs">
				<%= t('date.abbr_day_names')[subject.periods.first.day] %>
				&bull;
				<%= t('date.abbr_period_names')[subject.periods.first.time] %>
			</span>
		</div>
	</div>
</div>