<div class='subject-item-line' %>
	<%= link_to subject, class: "subject-thumbnail-line" do %>
  		<%= image_tag(subject.display_picture_small) %>
  <% end %> 
	
  <div class="subject-info-line">
  	<div class="subject-year-line">
			<%= subject.year %>年
		</div>
		
		<div class="subject-course-line">
    	<%= subject.semester.uni_year.name %><%= subject.semester.name %>
  	</div>		
	</div>
	
	<div class="subject-menu-line" data-id="<%= subject.id %>">
		<% if current_user.current_subjects.include?(subject) %>
  		<%= link_to schedule_destroy_path(subject: subject.id), method: :delete, class: 'btn btn-sm btn-default' do %>
    		<span class="glyphicon glyphicon-remove"></span>
    	<% end %>
  	<% else %>
    	<%= link_to schedule_create_path(subject: subject.id), method: :post, class: 'btn btn-sm btn-default' do %>
    		<span class="glyphicon glyphicon-plus"></span>
    	<% end %>
  	<% end %> 
	</div>
	
  <div class="subject-details-line">
    <%= link_to subject, class: "subject-name-line" do %>
    	<%= subject.name %>
    <% end %>
		<div class="subject-teacher-line">
    	<% subject.teachers.each do |teacher| %>
    		<% if teacher != subject.teachers.first %>
    		・
    		<% end %>
    		<%= teacher.name_kanji %>
  		<% end %>
    </div>
		<div class="subject-desc-line">
			<%= strip_tags(subject.description) %>
		</div>
  </div>
  
</div>