<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-xs-2 col-sm-1"><%= t('number') %></th>
      <th class="col-xs-3 col-sm-3"><%= t('day2') %></th>
      <th class="col-xs-7 col-sm-9"><%= t('content') %></th>
    </tr>
  </thead>
  <tbody>
  	<% @subject.outlines.order('no ASC').each do | outline | %>
    <tr>
      <% if editable %>
	      <td><%= outline.no %></td>
	      <td>
	      	<a href="#" data-type="date" data-pk="<%= outline.no %>" class="outline-date">
	      	<%= outline.date %>
      		</a>
      	</td>
	      <td><a href="#" data-pk="<%= outline.no %>" class="outline-content"><%= sanitize(outline.content) %></a></td>
      <% else %>
	      <td><%= link_to "#{outline.no}", subject_path(tag: outline.no), class: 'outline-btn' %></td>
	      <td>
	      	<% if outline.date %>
	      	<%= I18n.l outline.date, format: :long %>
	      	<% end %>
      	</td>
	      <td><%= sanitize(outline.content) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>