<div id="subjects">
	
	<div id="subjects-content" class="clear">
		
		<div id="subject-menu-top" class="clear">
			<% if user_signed_in? %>
			  <%= link_to new_subject_path, class: 'btn btn-orange', id:'new-subject-btn' do %>
			  <span class="glyphicon glyphicon-plus-sign"></span>
				<% end %>
			<% end %>
			
		  <%= form_tag subjects_path, method: :get, class: "filter-form has-padding", id: "filter-subject" do %>
		    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: '授業検索', autocorrect: "off", autocapitalize: "off" %>
			<% end %>
		</div>
						
		<div id="subject-menu-right" class="col-sm-3 col-xs-12 pull-right">
			
			<div class="subject-menu-header">
				<%= image_tag("faculty.png") %>
				<span>学科</span>
			</div>
			<ul id="subject-menu-course">
				<li>
					<%= check_box_tag "all-course", 0, true %>
					<span>学部共通</span>
				</li>
				<% @university.faculties.each do |faculty| %>
				<li class="faculty-item">
					<%= check_box_tag :faculty, faculty.id %>
					<span><%= faculty.name %></span>
					<ul>
						<% faculty.courses.each do |course| %>
						<li>
							<%= check_box_tag :course, course.id %>
							<span><%= course.name %></span>
						</li>
						<% end %>
					</ul>
				</li>
				<% end %>
			</ul>
			
			<div class="subject-menu-header">
				<%= image_tag("uni_year.png") %>
				<span>学年</span>
			</div>
			<table class="table table-bordered" id="subject-menu-year">
				<tr>
					<td colspan="2" class="active" id="all-year">全学年</td>
				</tr>
				  <% @university.uni_years.each do |uni_year| %>
						<% uni_year.semesters.each do |semester| %>
				    <tr>
				    	<% if semester == uni_year.semesters.first %>
				    	<td rowspan="<%= uni_year.semesters.count %>" data-id="<%= uni_year.id %>" data-type="uni_year"><%= uni_year.name %></td>
				    	<% end %>
				    	<td data-id="<%= semester.id %>" data-type="semester" data-parent="<%= uni_year.id %>"><%= semester.name %></td>
				    </tr>
			    	<% end %>
			    <% end %>
			</table>
			
			<div class="subject-menu-header">
				<%= image_tag("tag.png") %>
				<span>タグ</span>
			</div>
			<div id="subject-menu-tag">
		  <% @university.subjects.tag_counts.order('count desc').limit(10).each do | tag | %>
	  		<button class="label-tag label-xs"><%= tag.name %></button>
			<% end %>
			</div>
			
			<div class="subject-menu-header">
				<%= image_tag("week.png") %>
				<span>曜日・時限</span>
			</div>
			<div id="subject-menu-week">
				<%= select_tag :time, options_for_select(1.upto(Period::MAX_TIME).map { |t| [Period.time_names(t), t] }), class: 'selectpicker show-tick', data: {width: 'auto'}, title: '' %>
				<%= select_tag :day, options_for_select(1.upto(Period::MAX_DAY).map { |d| [Period.day_names(d), d] }), class: 'selectpicker show-tick', data: {width: 'auto'}, title: '' %>
			</div>
			
		</div>	
		
		<!-- subjects list goes here -->
		<div id="subjects-list-container" class="col-sm-9 col-xs-12 no-padding">
			<div id="subjects-list-title">授業</div>
			<% if user_signed_in? %>
			<div id="subject-order-option" class="clear">
				<div class="btn-group">
				  <button data-type="all" class="btn btn-default <%= 'active' if @user.settings(:subject).style == :all %>">年</button>
				  <button data-type="semester" class="btn btn-default <%= 'active' if @user.settings(:subject).style == :semester %>">期</button>
				  <button data-type="note_count" class="btn btn-default <%= 'active' if @user.settings(:subject).style == :note_count %>">の</button>
				</div>
			</div>
			<% end %>
			
			<div id="subjects-list">
				<%= render collection: @subjects, partial: 'subject_line', as: :subject || content_tag(:div, '授業が見つかりません。', class: 'message') %>		
			</div>
			
			<!-- for endless pagination -->
			<div class="hidden-pagination">
				<%= paginate @subjects %>										
			</div>
		</div>

	</div> <!-- end of subjects-content -->

</div> <!-- end of subjects -->
