<div id="subjects">
	
	<div id="subjects-content" class="clear">
		
		<div id="subject-menu-top" class="clear">
			<% if user_signed_in? %>
			  <%= link_to new_subject_path, class: 'btn btn-orange', id:'new-subject-btn' do %>
			  <span class="glyphicon glyphicon-plus-sign"></span>
			  <span id="new-subject-text"><%= t '.new_subject' %></span>
				<% end %>
			<% end %>
			
		  <%= form_tag subjects_path, method: :get, class: "search-form", id: "subject-search" do %>
		    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t('.subject_search'), autocorrect: "off", autocapitalize: "off" %>
			<% end %>
		</div>

		<div id="subject-menu-right" class="col-sm-3 col-xs-12 hidden-xs pull-right">
				<div id="subject-menu-content">
				<div class="subject-menu-item-header">
					<%= image_tag("course.png") %>
					<span><%= t 'course1' %></span>
				</div>
				<ul id="subject-menu-course">
					<li>
						<%= check_box_tag "all-course", 0, true %>
						<span><%= t '.all_faculty' %></span>
					</li>
					<% @university.faculties.each do |faculty| %>
					<li class="faculty-item">
						<%= check_box_tag :faculty, faculty.id %>
						<span><%= faculty.name %></span>
						<ul>
							<% faculty.courses.each do |course| %>
							<li>
								<%= check_box_tag :course, course.id %>
								<span><%= course.name %></span>
							</li>
							<% end %>
						</ul>
					</li>
					<% end %>
				</ul>
				
				<div class="subject-menu-item-header">
					<%= image_tag("semester.png") %>
					<span><%= t 'semester' %></span>
				</div>
				<table class="table table-bordered" id="subject-menu-semester">
					<tr>
						<td colspan="2" class="active" id="all-semester"><%= t '.all_semester' %></td>
					</tr>
					  <% @university.uni_years.each do |uni_year| %>
							<% uni_year.semesters.each do |semester| %>
					    <tr>
					    	<% if semester == uni_year.semesters.first %>
					    	<td rowspan="<%= uni_year.semesters.count %>" data-id="<%= uni_year.id %>" data-type="uni_year"><%= uni_year.name %></td>
					    	<% end %>
					    	<td data-id="<%= semester.id %>" data-type="semester" data-parent="<%= uni_year.id %>"><%= semester.name %></td>
					    </tr>
				    	<% end %>
				    <% end %>
				</table>
				
				<div class="subject-menu-item-header">
					<%= image_tag("tags.png") %>
					<span><%= t 'tag' %></span>
				</div>
				<div id="subject-menu-tag">
			  <% @university.subjects.tag_counts.order('count desc').limit(10).each do | tag | %>
		  		<button class="label-tag label-xs"><%= tag.name %></button>
				<% end %>
				</div>
				
				<div class="subject-menu-item-header">
					<%= image_tag("week.png") %>
					<span><%= t 'day' %>&bull;<%= t 'period' %></span>
				</div>
				<div id="subject-menu-week">
					<div id="subject-time">
						<%= select_tag :time, options_for_select(0.upto(Period::MAX_TIME).map { |t| [t('date.period_names')[t], t] }), class: 'selectpicker', data: {width: 'auto', style: 'btn-sm btn-default'}, title: '' %>
					</div>
					<div id="subject-day">
						<%= select_tag :day, options_for_select(0.upto(Period::MAX_DAY).map { |d| [t('date.abbr_day_names_with_all')[d], d] }), class: 'selectpicker', data: {width: 'auto', style: 'btn-sm btn-default'}, title: '' %>
					</div>
				</div>
				
				<button id="subject-menu-close" class="btn btn-orange"><%= t('.popup_ok') %></button>

			</div><!-- end of subject menu content -->
		</div><!-- subject menu right -->
		
		<!-- subjects list goes here -->
		<div id="subjects-list-container" class="col-sm-9 col-xs-12 no-padding">
			<div id="subjects-list-header">
				<div id="subjects-list-title" class="hidden-xs"><%= t 'subject_plural' %></div>
				<a id="subject-filter-trigger" class="visible-xs btn btn-default"><span class="glyphicon glyphicon-th"></span></a>
				<% if user_signed_in? %>
				<div id="subject-order-option">
					<div class="btn-group">
					  <button data-type="all" class="btn btn-default <%= 'active' if @user.settings(:subject).order == :all %>"><%= t 'y' %></button>
					  <button data-type="semester" class="btn btn-default <%= 'active' if @user.settings(:subject).order == :semester %>"><%= t 's' %></button>
					  <button data-type="note_count" class="btn btn-default <%= 'active' if @user.settings(:subject).order == :note_count %>"><%= t 'n' %></button>
					</div>
				</div>
				<% end %>
			</div>
			<div id="subjects-list">
				<%= render(collection: @subjects, partial: 'subject_line', as: :subject) || content_tag(:div, t('subject_not_found'), class: 'message') %>		
			</div>
			
			<!-- for endless pagination -->
			<div class="hidden-pagination">
				<%= paginate @subjects %>
			</div>
		</div>

	</div> <!-- end of subjects-content -->

</div> <!-- end of subjects -->


<!-- modal -->
<div class="mfp-hide skc-modal" id="subject-schedule-register">
	<div class="skc-modal-img">
		<%= image_tag('calendar.png') %>
	</div>
	<div class="skc-modal-content">
		<h4><%= t('subject_register_confirm') %></h4>
		<div class="skc-modal-menu">
			<%= link_to t('ok'), '', class: 'btn btn-sm btn-blue', data: {'skc-confirm' => 'ok'} %>
			<%= link_to t('cancel'), '', class: 'btn btn-sm btn-red' %>
		</div>
	</div>
</div>
<div class="mfp-hide skc-modal" id="subject-schedule-remove">
	<div class="skc-modal-img">
		<%= image_tag('calendar.png') %>
	</div>
	<div class="skc-modal-content">
		<h4><%= t('subject_remove_confirm') %></h4>
		<div class="skc-modal-menu">
			<%= link_to t('ok'), '', class: 'btn btn-sm btn-blue', data: {'skc-confirm' => 'ok'} %>
			<%= link_to t('cancel'), '', class: 'btn btn-sm btn-red' %>
		</div>
	</div>
</div>