<div class="mp-container">
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
 
        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu mp-overlap">
					<div class="mp-level" data-level="1">
						<h4 class="icon-menu">授業カテゴリ</h4>
						 <ul>
						 	<li class="icon-arrow"><a>学年別</a>
						 		<div class="mp-level" data-level="2" style="-webkit-transform: translate3d(-100%, 0px, 0px) translate3d(-40px, 0px, 0px);">
									<h4 class="icon-year">学年別</h4>
									<ul>
										<% (1..8).each do | i |%>
											<li>
											<%= link_to filter_subjects_path(semester: i) do %>
											<%= i %>学期
											<% end %>
											</li>
										<% end %>
									</ul>
								</div>
						 	</li>
							
					  	<li><%= link_to '全学年', subjects_path %></li>
					  	<li><%= link_to '通年授業', subjects_path %></li>
					  	<li><%= link_to '体育', subjects_path %></li>
					  	<li><%= link_to '合宿', subjects_path %></li>
					  	<li><%= link_to 'ゼミ', subjects_path %></li>
					  	<li><%= link_to '集中講義', subjects_path %></li>

				  	</ul>
							
					</div>
				</nav>
        <!-- /mp-menu -->
 
        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <!-- site content goes here -->
                <a href="#" id="trigger" class="btn-trigger"><span class="glyphicon glyphicon-cog"></span></a>
                <div id="subjects" class="col-md-12">
									<%= render 'layouts/list_subjects'%>
									</div>
            </div><!-- /scroller-inner -->
        </div><!-- /scroller -->
 
    </div><!-- /pusher -->
</div><!-- /mp-container -->
<script>
	new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
</script>

