<div class="mp-container">
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
 
        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu mp-overlap">
					<div class="mp-level" data-level="1">
						<h4 class="icon-menu">授業カテゴリ</h4>
						 <ul>
						 	<li class="icon-arrow">
						 		<a>学年別</a>
						 		<div class="mp-level" data-level="2">
									<h4 class="icon-year">学年別</h4>
									<ul>
										<% @user.university.uni_years.each do | year | %>
										<li class="icon-arrow">
											<a><%= year.name %></a>
											<div class="mp-level" data-level="3">
												<h4><%= year.name %></h4>
												<ul>
													<% year.semesters.each do | semester | %>
													<li><%= link_to semester.name, subjects_path(year: year.no, semester: semester.no) %></li>
													<% end %>
												</ul>
											</div>
										</li>
										<% end %>
									</ul>
								</div>
						 	</li>
							<% Subject.tag_counts.order('count desc').limit(8).each do | tag | %>
					  	<li><%= link_to tag.name, subjects_path(tag: tag.name) %></li>
							<% end %>
							<li><%= link_to '全学年', subjects_path %></li>
				  	</ul>
							
					</div>
				</nav>
        <!-- /mp-menu -->
 
        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <!-- site content goes here -->
                <a href="#" id="trigger" class="btn-trigger visible-xs"><span class="glyphicon glyphicon-cog"></span></a>
                <div id="subjects" class="col-md-12">
									<%= render 'layouts/list_subjects'%>
									</div>
            </div><!-- /scroller-inner -->
        </div><!-- /scroller -->
 
    </div><!-- /pusher -->
</div><!-- /mp-container -->
<script>
	new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
</script>

