<div class="mp-container">
	<!--menu bar-->  	
	<div id="filter-bar">
	  <%= link_to new_subject_path, class: 'btn btn-default', id:'new-subject-btn' do %>
	  <span class="glyphicon glyphicon-plus-sign"></span>
		<% end %>
		
	  <%= form_tag subjects_path, method: :get, class: "filter-form has-padding" do %>
	    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'ライブ検索', value:"#{@search}", autocorrect: "off", autocapitalize: "off" %>
		<% end %>
		
		<ul id="filter-menu" class="hidden-xs">
			<li><%= link_to '全学年', subjects_path, class: 'active' %></li>										
		  <%  @user.university.subjects.tag_counts.order('count desc').limit(8).each do | tag | %>
	  	<li><%= link_to tag.name, subjects_path(tag: tag.name) %></li>
			<% end %>
			<li><a href="#" id="sub-menu-trigger">学年別</a></li>
		</ul>
	</div>
	<!-- end of menu bar -->
		
    <!-- Push Wrapper -->
    <div class="mp-pusher" id="mp-pusher">
 
        <!-- mp-menu -->
        <nav id="mp-menu" class="mp-menu mp-overlap">
					<div class="mp-level" data-level="1">
						<h4 class="icon-menu">授業カテゴリ</h4>
						 <ul>
						 	<!-- 学年別　-->
						 	<li class="icon-arrow">
						 		<a>学年別</a>
						 		<div class="mp-level" data-level="2">
									<h4 class="icon-year">学年別</h4>
									<ul>
										<% @user.university.uni_years.each do | uni_year | %>
										<li class="icon-arrow">
											<a><%= uni_year.name %></a>
											<div class="mp-level" data-level="3">
												<h4><%= uni_year.name %></h4>
												<ul>
													<% uni_year.semesters.each do | semester | %>
													<li><%= link_to semester.name, subjects_path(uni_year: uni_year.no, semester: semester.no) %></li>
													<% end %>
												</ul>
											</div>
										</li>
										<% end %>
									</ul>
								</div>
						 	</li>　<!-- end of 学年別 -->
							<% @user.university.subjects.tag_counts.order('count desc').limit(8).each do | tag | %>
					  	<li><%= link_to tag.name, subjects_path(tag: tag.name) %></li>
							<% end %>
							<li><%= link_to '全学年', subjects_path %></li>
				  	</ul>
							
					</div>
				</nav>
        <!-- /mp-menu -->
		
        <div class="scroller"><!-- this is for emulating position fixed of the nav -->
            <div class="scroller-inner">
                <!-- site content goes here -->
                <div id="subjects">
									
									<a href="#" id="trigger" class="btn-trigger visible-xs"><span class="glyphicon glyphicon-cog"></span></a>

									<!--subbar for 学年別-->
									<div id="sub-filter-bar" class="hidden-xs">
										<div class="outer-center"> <!-- outer center and inner center are needed for center divs with unknown width -->
						        	<div id="sub-filter-bar-inner" class="inner-center">
						        		<% @user.university.uni_years.each do | uni_year | %>
												<div>
													<h4><%= uni_year.name %></h4>
													<ul>
														<% uni_year.semesters.each do | semester | %>
														<li><%= link_to semester.name, subjects_path(uni_year: uni_year.no, semester: semester.no) %></li>
														<% end %>
													</ul>
												</div>
												<% end %>
											</div>
								    </div>
								    <div class="clear"></div>	
									</div>	
									<!-- end of sub-bar -->
									
	                <div id="subjects-list">
										<%= render 'layouts/list_subjects'%>
									</div>
								</div>
            </div><!-- /scroller-inner -->
        </div><!-- /scroller -->
 
    </div><!-- /pusher -->
</div><!-- /mp-container -->

<script>
	new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
</script>