<!--menu bar
<div class="filter-bar">
	
	<% if user_signed_in? %>
	  <%= link_to new_subject_path, class: 'btn btn-default', id:'new-subject-btn' do %>
	  <span class="glyphicon glyphicon-plus-sign"></span>
		<% end %>
	<% end %>
	
  <%= form_tag subjects_path, method: :get, class: "filter-form has-padding", id: "filter-subject" do %>
    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'ライブ検索', autocorrect: "off", autocapitalize: "off" %>
	<% end %>
	
</div>
<!-- end of menu bar -->

<div id="subjects">
	
	<div id="subjects-content" class="clear">
		
		<div id="subject-menu-top" class="clear">
			<% if user_signed_in? %>
			  <%= link_to new_subject_path, class: 'btn btn-orange', id:'new-subject-btn' do %>
			  <span class="glyphicon glyphicon-plus-sign"></span>
				<% end %>
			<% end %>
			
		  <%= form_tag subjects_path, method: :get, class: "filter-form has-padding", id: "filter-subject" do %>
		    <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: '授業検索', autocorrect: "off", autocapitalize: "off" %>
			<% end %>
		</div>
						
		<div id="subject-menu-right" class="col-sm-3 col-xs-12 pull-right">
			
			<div class="subject-menu-header">
				<%= image_tag("temp.png") %>
				<span>学科</span>
			</div>
			<ul>
				<li>
					<%= check_box_tag :faculty, 0, true %>
					<span>学部共通</span>
				</li>
				<% @university.faculties.each do |faculty| %>
				<li>
					<%= check_box_tag :faculty, faculty.id %>
					<span><%= faculty.name %></span>
					<ul>
						<% faculty.courses.each do |course| %>
						<li>
							<%= check_box_tag :course, course.id %>
							<span><%= course.name %></span>
						</li>
						<% end %>
					</ul>
				</li>
				<% end %>
			</ul>
			
			<div class="subject-menu-header">
				<%= image_tag("temp.png") %>
				<span>学年</span>
			</div>
			<ul id="subject-menu-uni-year">
				<li>
					<%= check_box_tag :uni_year, 0, true %>
					<span>全学年</span>
				</li>
			  <% @university.uni_years.each do |uni_year| %>
		  	<li>
		  		<%= check_box_tag :uni_year, uni_year.id %>
		  		<span><%= uni_year.name %></span>
		  		<ul>
		  			<% uni_year.semesters.each do |semester| %>
		  			<li>
		  				<%= check_box_tag :semester, semester.id %>
		  				<span><%= semester.name %></span>
		  			</li>
		  			<% end %>
		  		</ul>
	  		</li>
				<% end %>
			</ul>
			
			<div class="subject-menu-header">
				<%= image_tag("temp.png") %>
				<span>タグ</span>
			</div>
			<ul id="subject-menu-tag">
		  <% @university.subjects.tag_counts.order('count desc').limit(10).each do | tag | %>
	  	<li>
	  		<%= check_box_tag :tag, tag.id %>
	  		<span><%= tag.name %></span>
  		</li>
			<% end %>
			</ul>
		</div>	
		
		<!-- subjects list goes here -->
		<div id="subjects-list-container" class="col-sm-9 col-xs-12 no-padding">
			<div id="subjects-list-title">授業</div>
			<% if user_signed_in? %>
			<div id="subject-order-option" class="clear">
				<div class="btn-group">
				  <button data-type="all" class="btn btn-default <%= 'active' if @user.settings(:subject).style == :all %>">年</button>
				  <button data-type="semester" class="btn btn-default <%= 'active' if @user.settings(:subject).style == :semester %>">期</button>
				  <button data-type="note_count" class="btn btn-default <%= 'active' if @user.settings(:subject).style == :note_count %>">の</button>
				</div>
			</div>
			<% end %>
			
			<div id="subjects-list">
				<%= render collection: @subjects, partial: 'subject_line', as: :subject || '授業が見つかりません。' %>		
			</div>
			
			<!-- for endless pagaination -->
			<div class="hidden-pagination">
				<%= paginate @subjects %>										
			</div>
		</div>

	</div>

</div>
