<!-- sidebar -->
<div class="col-xs-3 col-md-2 sidebar-offcanvas" id="show-subject-overview" role="navigation">
	<div class="bs-sidebar hidden-print affix" role="complementary">
		<ul class="nav">
			<hr />
      <li class="active"><a href="#description">概要</a></li>
      <li><a href="#details">詳細</a></li>
      <li><a href="#syllabus">授業日程</a></li>
      <li><a href="#notes">ノート</a></li>      
      <hr />
      <%= link_to '時間割に登録', schedule_path, class: 'btn btn-default' %>        
    </ul>
	</div>
</div>
<div id="show-subject" class="col-md-10 col-xs-9">
	<div class="panel panel-primary">
	<!-- Default panel contents -->
	  <div class="panel-heading text-center"><h4><%= @subject.name %></h4></div>
	  <div class="panel-body">
	  <!--for overview section -->
	 	<a name="description"></a>
		<h4><i class="icon-chevron-thin-right"></i>概要</h4>
			<div class="text-content">
				<%= @subject.description %>
			</div>
		<!--for overview section -->
	 	<a name="details"></a>
		<h4><i class="icon-chevron-thin-right"></i>詳細</h4>
			<dl class="dl-horizontal">
	      <dt>推奨学期:</dt>
	      <dd><%= link_to @subject.semester, filter_subjects_path(semester: @subject.semester) %></dd>
	      <dt>時間:</dt>
	      <dd><%= @subject.time_name %></dd>
	      <dd><%= @subject.day_name %></dd>
	      <dt>講義室:</dt>
	      <dd><%= @subject.place %></dd>
	      <dt>教師:</dt>
	      <dd>
	      	<%= link_to @subject.teachers.first do %>
	      		<%= @subject.teachers.first.last_name_kanji %>
	      		<%= @subject.teachers.first.first_name_kanji %>
	      	<% end %>
	      </dd>
    	</dl>
	  </div>
	</div>
	
	<div class="panel panel-info">
	<!-- Default panel contents -->
	  <!--for overview section -->
	 	<a name="syllabus"></a>
	  <div class="panel-heading text-center"><h4>シラバス</h4></div>
	  <div class="panel-body">
		
	 	<table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-2">回数</th>
          <th class="col-md-2">日付</th>
          <th class="col-md-8">内容</th>
        </tr>
      </thead>
      <tbody>
      	<% (1..15).each do | i | %>
        <tr>
          <td><%= i %>回目</td>
          <td>1月２日</td>
          <td>集合，写像，関係，論理，再帰</td>
        </tr>
        <% end %>
      </tbody>
    </table>
	  </div>
	</div>
	
	<div class="panel panel-danger">
	<!-- Default panel contents -->
	 	<!--for overview section -->
	 	<a name="notes"></a>
	  <div class="panel-heading text-center"><h4>ノート</h4></div>
	  <div class="panel-body">
			<%= render 'layouts/list_notes'%>
	  </div>
	</div>

</div>