<!-- sidebar -->
<div class="hidden-xs col-md-2 col-sm-2 sidebar-offcanvas" role="navigation">
	<div class="affix show-subject-menu" role="complementary" id="show-subject-overview">
		<h4>要旨</h4>
		<ul class="nav">
      <li class="active"><a href="#description">概要</a></li>
      <li><a href="#syllabus">シラバス</a></li>
      <li><a href="#notes">ノート</a></li>         
    </ul>
	</div>
	
	<div class="affix show-subject-menu" role="complementary" id="show-subject-schedule">
		<h4>授業</h4>
		<ul class="nav">     
      <%= link_to schedule_path, class: 'btn btn-blue' do %>  
      <span class="glyphicon glyphicon-plus-sign"></span>登録
      <% end %>      
    </ul>
	</div>
	
	<div class="affix show-subject-menu" role="complementary" id="show-subject-notes">
		<h4>ノート</h4>
		<ul class="nav">     
      <%= link_to new_note_path(subject_id: @subject.id), class: 'btn btn-yellow' do %>  
      <span class="glyphicon glyphicon-plus-sign"></span>追加
      <% end %>      
    </ul>
	</div>
</div>

<!-- main part -->
<div id="show-subject" class="col-md-10 col-sm-10 col-xs-12">
	<div id="show-subject-content">
		<ul id="year-list" class="clear">
			<% @same_subjects.each do |subject| %>
				<% if subject.year == @subject.year %>
					<li class="label-year label-year-inverse"><%= link_to subject.year, subject %></li>
				<% else %>
					<li class="label-year"><%= link_to subject.year, subject %></li>
				<% end %>
			<% end %>
		</ul>
	  <!--for overview section -->
		<a name="description"></a>
		<div class="skc-box skc-box-no-padding skc-box-lg" id="show-subject-desc">
			<div class="skc-box-content">
				<div class="skc-box-thumbnail">
					<%= image_tag("lecture.png")  %>
				</div>
				<div class="skc-box-title">
					<a data-toggle="collapse" href="#collapseDescription">
		        <h4><%= @subject.name %></h4>
		      </a>
		    </div>
				<div class="skc-box-desc collapse in" id="collapseDescription">
					<p>
						<%= sanitize(@subject.description) %>
					</p>
					<hr />
					<p>
						<strong>推奨学期:</strong>
						<%= link_to "#{@subject.semester.uni_year.name}#{@subject.semester.name}", subjects_path(semester: @subject.semester.no, uni_year: @subject.semester.uni_year.no) %>
					</p>
					<p>
						<strong>時間:</strong>
						<%= @subject.time_name %><%= @subject.day_name %>
					</p>
					<p>
						<strong>講義室:</strong>
						<%= @subject.place %>
					</p>
					<p>
						<strong>教員:</strong>
						<% @subject.teachers.each do |teacher| %>
		      		<% if teacher != @subject.teachers.first  %>
		      		・
		      		<% end %>
							<%= link_to teacher.name_kanji, teacher %>
      			<% end %>
					</p>
				</div>
				<div class="skc-box-menu">
					<%= link_to edit_subject_path(@subject.id) do %>
						<span class="glyphicon glyphicon-pencil"></span>
					<% end %>
					<%= link_to @subject, method: :delete, data: { confirm: 'Are you sure?' } do %>
						<span class="glyphicon glyphicon-remove"></span>
					<% end %>
				</div>
			</div>
	</div><!--end of skc-box-->
</div><!-- end of show-subject -->
	
  <!--for overview section -->
 	<a name="syllabus"></a>
	<div class="skc-box skc-box-no-padding skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-title-no-margin">
				<a data-toggle="collapse" href="#collapseSyllabus">
	        <h4>シラバス</h4>
	      </a>
	    </div>
			<div class="skc-box-desc skc-box-desc-no-margin collapse out" id="collapseSyllabus">
				<table class="table table-bordered table-hover">
			    <thead>
			      <tr>
			        <th class="col-xs-2 col-sm-1">回数</th>
			        <th class="col-xs-3 col-sm-3">日付</th>
			        <th class="col-xs-7 col-sm-9">内容</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<% @subject.outlines.order('number ASC').each do | outline | %>
			      <tr>
			        <td><%= link_to "#{outline.number}", subject_path(tag: "#{outline.number}回目"), class: 'outline-btn' %></td>
			        <td><a href="#" data-type="date" data-viewformat="yyyy-mm-dd" data-pk="<%= outline.number %>" class="outline-date"><%= outline.date %></a></td>
			        <td><a href="#" data-pk="<%= outline.number %>" class="outline-content"><%= sanitize(outline.content) %></a></td>
			      </tr>
			      <% end %>
			    </tbody>
			  </table>
			</div>
		</div>
	</div>
	
	
	<!--for overview section -->
 	<a name="notes"></a>
	<div class="skc-box skc-box-no-padding skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-title-no-margin">
				<a data-toggle="collapse" href="#collapseNotes">
	        <h4>ノート</h4>
	      </a>
	    </div>
			<div class="skc-box-desc skc-box-desc-no-margin collapse in" id="collapseNotes">
				<%= render 'layouts/list_notes'%>
			</div>
		</div>
	</div>
	
</div>
<script>
	//turn to inline mode
	$.fn.editable.defaults.mode = 'inline';
	$.fn.editable.defaults.ajaxOptions = {dataType: 'json', type: "PUT"};
	$(document).ready(function() {			
			$('.outline-date').editable({
			    format: 'yyyy-mm-dd', //for sending value
			    name: 'date',
			    url: '/subjects/<%= @subject.id %>/inline',
          showbuttons: 'bottom'
			});
			
			$('.outline-content').editable({
			    type: 'textarea',
			    name: 'content',
			    url: '/subjects/<%= @subject.id %>/inline',
          showbuttons: 'bottom'
			});
	});
</script>