<!-- sidebar -->
<div class="hidden-xs col-md-2 col-sm-2 sidebar-offcanvas" role="navigation">
	<div class="fixed-menu">
		<div class="show-subject-menu" role="complementary" id="show-subject-overview">
			<h4>要旨</h4>
			<ul class="nav">
	      <li><a href="#description">概要</a></li>
	      <li><a href="#syllabus">シラバス</a></li>
	      <li><a href="#notes">ノート</a></li>         
	    </ul>
		</div>
		
		<% if user_signed_in? %>
		<div class="show-subject-menu" role="complementary" id="show-subject-schedule" data-id="<%= @subject.id %>" data-name="<%= @subject.name %>" data-img="<%= image_path(@subject.display_picture_small) %>">
			<%= render 'schedule_menu' %>
		</div>
		
		<div class="show-subject-menu" role="complementary" id="show-subject-notes">
			<h4>ノート</h4>
			<ul class="nav">     
	      <%= link_to new_note_path(subject_id: @subject.id), class: 'btn btn-orange' do %>  
	      <span class="glyphicon glyphicon-plus-sign"></span>追加
	      <% end %>      
	    </ul>
		</div>
		<% end %>
		
	</div>
</div>

<!-- main part -->
<div id="show-subject" class="col-sm-10 col-xs-12">
	<ul id="year-list" class="clear">
		<li class="dropdown year-item">
			<a data-toggle="dropdown" class="btn btn-navi btn-sm dropdown-toggle"><span class="glyphicon glyphicon-cog"></span></a>
			<ul class="dropdown-menu pull-right">
				<li><%= link_to '最新', @subject %></li>
				<% @subject.versions.reverse.first(5).each do |version| %>
					<li>
						<%= link_to version_subject_path(id: @subject.id, version_id: version.id) do %>
			        <%= version.created_at.to_date %>
							<%= version.created_at.strftime("%I:%M%p") %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</li>
		<% @same_subjects.each do |subject| %>
			<% if subject.year == @subject.year %>
				<li class="year-item"><span class="btn btn-white btn-sm active"><%= subject.year %></span></li>
			<% else %>
				<li class="year-item"><%= link_to subject.year, subject, class: "btn btn-navi btn-sm" %></li>
			<% end %>
		<% end %>
	</ul>
	
  <!--for overview section -->
	<a name="description"></a>
	<div class="skc-box skc-box-no-padding skc-box-lg" id="subject-card">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag(@subject.display_picture_small)  %>
			</div>
			<div class="skc-box-title">
				<a data-toggle="collapse" href="#collapseDescription">
	        <h4><%= @subject.name %></h4>
	      </a>
	    </div>
			
			<div class="skc-box-desc collapse in" id="collapseDescription">
				<p>
					<%= sanitize(@subject.description) %>
				</p>
				<hr />
				<p>
					<strong>推奨学期:</strong>
					<%= link_to "#{@subject.semester.uni_year.name}#{@subject.semester.name}", subjects_path(filter: '学年別', semester: @subject.semester.id) %>
				</p>
				<p>
					<strong>時間:</strong>
					<% @subject.periods.each do |period| %>
						<% if period != @subject.periods.first %>
						・
						<% end %>
						<%= Period.time_names(period.time) %><%= Period.day_names(period.day) %>
					<% end %>
				</p>
				<p>
					<strong>講義室:</strong>
					<%= @subject.place %>
				</p>
				<p>
					<strong>教員:</strong>
					<% @subject.teachers.each do |teacher| %>
	      		<% if teacher != @subject.teachers.first  %>
	      		・
	      		<% end %>
						<%= link_to teacher.name_kanji, teacher %>
    			<% end %>
				</p>
			</div>
			
			<% if user_signed_in? %>
			<div class="skc-box-menu">
				<%= link_to edit_subject_path(@subject.id) do %>
					<span class="glyphicon glyphicon-pencil"></span>
				<% end %>
				<%= link_to @subject, method: :delete, data: { confirm: 'Are you sure?' } do %>
					<span class="glyphicon glyphicon-remove"></span>
				<% end %>
			</div>
			<% end %>
		</div>
	</div><!--end of skc-box-->
	
  <!--for overview section -->
 	<a name="syllabus"></a>
	<div class="skc-box skc-box-no-padding skc-box-lg" id="syllabus-card">
		<div class="skc-box-content">
			<div class="skc-box-title-no-margin">
				<a data-toggle="collapse" href="#collapseSyllabus">
	        <h4>シラバス</h4>
	      </a>
	    </div>
			<div class="skc-box-desc skc-box-desc-no-margin collapse out" id="collapseSyllabus">
				<%= render 'syllabus_table', editable: false %>
			</div><!-- end of box-desc -->
			
			<% if user_signed_in? %>
			<div class="skc-box-menu">
				<%= link_to edit_subject_path(@subject.id, anchor: "syllabus") do %>
					<span class="glyphicon glyphicon-pencil"></span>
				<% end %>
			</div>
			<% end %>
			
		</div><!-- end of box-content -->
	</div><!-- end of skc-box -->
	
	<% if user_signed_in? %>
	<!--for overview section -->
 	<a name="notes"></a>
	<div class="skc-box skc-box-no-padding skc-box-lg" id="notes-card">
		<div class="skc-box-content">
			<div class="skc-box-title-no-margin">
				<a data-toggle="collapse" href="#collapseNotes">
	        <h4>ノート</h4>
	      </a>
	    </div>
			<div class="skc-box-desc skc-box-desc-no-margin collapse in text-center" id="collapseNotes">
				<%= render(@notes) || 'ノートがまだありません。' %>
			</div>
		</div>
	</div>
	<% end %>
	
	<% if @tags.count > 0 %>
	<br />
	<h4>タグ:</h4>
	<ul>
		<% @tags.each do |tag| %>
		<li class="label-tag"><%= tag %></li>
		<% end %>
	</ul>
	<% end %>
	
	<% if @recommend_subjects.count > 0 %>
	<br />
	<h4>関連授業:</h4>
	<div class="has-margin-lg">
		<div class="owl-carousel text-center">
	  	<%= render collection: @recommend_subjects, partial: 'subject_xs', as: :subject %>
		</div>
	</div>
	<% end %>
	
</div>
<script>
	$(document).ready(function() {
		
		/*for anchor*/
		$("#show-subject-overview a").on("click", function() {
			var anchor = $(this).attr("href").replace("#",""); 
			// the difference between this.href and jquery attr("href")
			// $(this).attr("href") == #notes 
			// this.href == http://localhost:8000/subjects/11#description 
			scrollToAnchor(anchor);
			return false;
		});
		
		/*For outline btn*/
		$(".outline-btn").off("click").on("click", function() {
			$.ajax({
			  url: this.href,
			  dataType: "script",
			  success: function() {
			  	ajaxSuccess();
			  	scrollToAnchor("notes");
			  }
			});
			return false;
		});
		
		/*For schedule add btn in show subject page*/
		/*Need selector on a to ensure binding on dynamically elements */
		$("#show-subject-schedule").on("click", "a", function() {
			var href = $(this).attr("href");
			var dataMethod = $(this).attr("data-method");
			var subjectName = $("#show-subject-schedule").data("name");
			var subjectID = $("#show-subject-schedule").data("id");
			var imgPath = $("#show-subject-schedule").data("img");
			
			$.ajax({
				url: href,
				type: dataMethod,
				dataType: "script",
				success: function() {
					//need to get script in order to refresh menu
					$.getScript("/subjects/" + subjectID, null);

					//Set notification
					if (dataMethod == "post") {
						$.gritter.add({
							title: subjectName,
							text: 'スケジュールに追加しました。',
							image: imgPath,
							sticky: false, 
							time: 5000,
						});
					} else {
						$.gritter.add({
							title: subjectName,
							text: 'スケジュールから削除しました。',
							image: imgPath,
							sticky: false, 
							time: 5000,
						});
					}
				}
			});
			return false;
		});
		
		$(".owl-carousel").owlCarousel({
			items : 4,
	    itemsDesktop : [1199,3],
	    itemsDesktopSmall : [980,2],
	    itemsTablet: [768,2],
	    itemsTabletSmall: false,
	    itemsMobile : [479,1],
			navigation:true,
	    navigationText: [
	      "<span class='glyphicon glyphicon-chevron-left'></span>",
	      "<span class='glyphicon glyphicon-chevron-right'></span>"
	      ],
		});
	});

</script>