<!-- sidebar -->
<div class="hidden-xs col-md-2 col-sm-2 sidebar-offcanvas" id="show-subject-overview" role="navigation">
	<div class="bs-sidebar hidden-print affix" role="complementary">
		<ul class="nav">
			<hr />
      <li class="active"><a href="#description">概要</a></li>
      <li><a href="#details">詳細</a></li>
      <li><a href="#syllabus">授業日程</a></li>
      <li><a href="#notes">ノート</a></li>      
      <hr />
      <%= link_to '時間割に登録', schedule_path, class: 'btn btn-default' %>        
    </ul>
	</div>
</div>

<!-- main part -->
<div id="show-subject" class="col-md-10 col-sm-10 col-xs-12">
	<div class="panel panel-success">
	<!-- Default panel contents -->
	  <div class="panel-heading text-center">
	  	<!-- a tag for collapsable panel -->
	  	<a data-toggle="collapse" href="#collapseDescription">
        <h4><%= @subject.name %></h4>
      </a>
    </div>
    
    <!-- collapse div -->
   	<div id="collapseDescription" class="panel-collapse collapse in">
		  <div class="panel-body">
		  <!--for overview section -->
		 	<a name="description"></a>
			<i class="glyphicon glyphicon-chevron-right"></i><h4 class="inline">概要</h4>
				<div class="text-content has-margin">
					<a href="#" id="subject-description"><%= sanitize(@subject.description) %></a>
				</div>
			<!--for overview section -->
		 	<a name="details"></a>
			<i class="glyphicon glyphicon-chevron-right"></i><h4 class="inline">詳細</h4>
				<dl class="dl-horizontal">
		      <dt>推奨学期:</dt>
		      <dd><%= link_to @subject.semester, filter_subjects_path(semester: @subject.semester) %></dd>
		      <dt>時間:</dt>
		      <dd><%= @subject.time_name %></dd>
		      <dd><%= @subject.day_name %></dd>
		      <dt>講義室:</dt>
		      <dd><%= @subject.place %></dd>
		      <dt>教師:</dt>
		      <dd>
		      	<%= link_to @subject.teachers.first do %>
		      		<%= @subject.teachers.first.last_name_kanji %>
		      		<%= @subject.teachers.first.first_name_kanji %>
		      	<% end %>
		      </dd>
	    	</dl>
		  </div> <!-- end of panel-body -->	  
	  </div><!-- end of collapseDescription div -->
	</div><!-- end of panel -->
	
	<div class="panel panel-info">
	<!-- Default panel contents -->
	  <!--for overview section -->
	 	<a name="syllabus"></a>
	  <div class="panel-heading text-center">
	  	<!-- a tag for collapsable panel -->
	  	<a data-toggle="collapse" href="#collapseSyllabus">
        <h4>シラバス</h4>
      </a>
    </div>
    
    <!-- collapse div -->
	  <div id="collapseSyllabus" class="panel-collapse collapse out">
		  <div class="panel-body">		
			 	<table class="table table-striped">
			    <thead>
			      <tr>
			        <th class="col-md-1 col-xs-1">回数</th>
			        <th class="col-md-2 col-xs-3">日付</th>
			        <th class="col-md-9 col-xs-8">内容</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<% @subject.outlines.order('number ASC').each do | outline | %>
			      <tr>
			        <td><%= link_to "#{outline.number}回目", notes_in_show_subject_path(tag: "#{outline.number}回目", id: @subject.id, anchor: 'notes'), class: 'btn btn-primary btn-xs' %></td>
			        <td><a href="#" data-pk="<%= outline.number %>" class="outline-date"><%= outline.date %></a></td>
			        <td><a href="#" data-pk="<%= outline.number %>" class="outline-content"><%= sanitize(outline.content) %></a></td>
			      </tr>
			      <% end %>
			    </tbody>
			  </table>  
		  </div> <!-- end of panel-body -->	  
	  </div><!-- end of collapseSyllabus div -->
	</div><!-- end of panel -->
	
	<div class="panel panel-danger">
	<!-- Default panel contents -->
	 	<!--for overview section -->
	 	<a name="notes"></a>
	  <div class="panel-heading text-center">
	  	<!-- a tag for collapsable panel -->
	  	<a data-toggle="collapse" href="#collapseNotes">
        <h4>ノート</h4>
      </a>
    </div>
    <!-- collapse div -->
	  <div id="collapseNotes" class="panel-collapse collapse in">
		  <div class="panel-body">
				<%= render 'layouts/list_notes'%>
		  </div> <!-- end of panel-body -->	  
	  </div><!-- end of collapseNotes div -->
	</div><!-- end of panel -->
	
</div>
<script>
	//turn to inline mode
	$.fn.editable.defaults.mode = 'inline';
	$.fn.editable.defaults.ajaxOptions = {dataType: 'json', type: "PUT"};
	$(document).ready(function() {
	    $('#subject-description').editable({
			    type: 'wysihtml5',
			    wysihtml5: {
			    	locale: 'en-US'
			    },
			    name: 'description',
			    pk: <%= @subject.id %>,
			    url: '/subjects/<%= @subject.id %>',
			});
			
			$('.outline-date').editable({
			    type: 'combodate',
			    format: 'YYYY年MM月DD日', //for sending value
			    viewformat: 'YYYY年MM月DD日', //for view
			    template: 'YYYY / MM / DD',  //for combodate selector  
			    name: 'date',
	        combodate: {
	                minYear: 2000,
	                maxYear: 2015,
	        },
	        inputclass: 'btn-xs',
			    url: '/subjects/<%= @subject.id %>',
			});
			
			$('.outline-content').editable({
			    type: 'wysihtml5',
			    name: 'content',
			    url: '/subjects/<%= @subject.id %>',
			});
	});
</script>