<div class="teacher-hovercard hovercard" data-id="<%= teacher.id %>">
	<div class="teacher-hovercard-item">
		<div class="teacher-hovercard-img">
		<%= link_to teacher do %>
			<%= image_tag(teacher.display_profile_image) %>
		<% end %>
		</div>
		<div class="teacher-hovercard-content">
			<div class="teacher-hovercard-name">
				<%= link_to teacher.full_name, teacher %>
			</div>
			<div class="teacher-hovercard-info">
				<%= teacher.faculty.name %>
			</div>
			<div class="teacher-hovercard-desc">
				<%= teacher.info %>
			</div>
			<div class="teacher-hovercard-subjects">
				<% teacher.subjects.ordered.first(5).each do |subject| %>
					<%= render partial: 'subjects/subject_tag', locals: {subject: subject, custom_class: 'subject-tag-navi subject-tag-xs'} %>
				<% end %>
			</div>
		</div>
	</div>
</div>
