<div id="show-teacher">
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag(@teacher.display_profile_image) %>
			</div>
			<div class="skc-box-desc">
				<h4>
					<%= @teacher.full_name %>
				</h4>
				<% if !@teacher.info.blank? %>
					<p>
						<%= sanitize(@teacher.info) %>
					</p>
				<% end %>
				<hr />
				<p>
					<strong><%= t('email') %>:</strong>
					<%= @teacher.email %>
				</p>
				<p>
					<strong><%= t('.university') %>:</strong>
					<%= @teacher.university.name %>
				</p>
				<p>
					<strong><%= t('.faculty') %>:</strong>
					<%= @teacher.faculty.name %>
				</p>
				<p>
					<strong><%= t('.lab') %>:</strong>
					<%= @teacher.lab %>
				</p>
				<p>
					<strong><%= t('.lab_url') %>:</strong>
					<%= @teacher.lab_url %>
				</p>
			</div>
  		<div class="skc-box-menu">
				<% if can? :update, @teacher %>
					<%= link_to edit_teacher_path(@teacher.id), class: 'has-tooltip', data: {toggle: "tooltip", placement: "top"}, title: t('edit') do %>
						<span class="glyphicon glyphicon-pencil"></span>
					<% end %>
				<% end %>
				<% if can? :destroy, @teacher %>
					<%= link_to @teacher, method: :delete, data: { confirm: t('delete_confirm') } do %>
						<span class="glyphicon glyphicon-remove"></span>
					<% end %>
				<% end %>
			</div>
		</div><!-- end of skc-box-content -->
	</div><!-- end of skc-box -->
	
	<% @subjects_by_year.keys.each do |year| %>
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-title-no-margin">
				<a data-toggle="collapse" href="#<%= year %>" data-parent="#accordion">
	        <h4><%= year %></h4>
	      </a>
	    </div>
			<div class="skc-box-desc skc-box-desc-no-margin collapse out" id="<%= year %>">
				<% @subjects_by_year[year].each do |subject| %>
				<%= link_to subject.name, subject, class: 'label-white subject-by-year' %>
				<% end %>
			</div><!-- end of box-desc -->
			
		</div><!-- end of box-content -->
	</div><!-- end of skc-box -->
	<% end %>
	
</div>
