<div id="show-teacher">
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("user.png") %>
			</div>
			<div class="skc-box-desc">
				<h4><%= @teacher.name_kanji %></h4>
				<hr />
				<p>
					<strong><%= t('email') %>:</strong>
					<%= @teacher.email %>
				</p>
				<p>
					<strong><%= t('.university') %>:</strong>
					<%= link_to @teacher.university.name, faculties_path(@teacher.university) %>
				</p>
				<p>
					<strong><%= t('.course') %>:</strong>
					<%= link_to @teacher.faculty.name, @teacher.faculty %>
				</p>
				<p>
					<strong><%= t('.lab') %>:</strong>
					<%= @teacher.lab %>
				</p>
				<p>
					<strong><%= t('.lab_url') %>:</strong>
					<%= @teacher.lab_url %>
				</p>
			</div>
			<hr />
			<div class="text-center">
				<p>
					<strong><%= t('.sujects') %></strong>
				</p>			
	    		<%= render @subjects %>
			</div>
		</div>
	</div>
</div>
