<div id="show-teacher">
	<div class="skc-box skc-box-lg">
		<div class="skc-box-content">
			<div class="skc-box-thumbnail">
				<%= image_tag("user.png") %>
			</div>
			<div class="skc-box-desc">
				<h4><%= @teacher.name_kanji %></h4>
				<hr />
				<p>
					<strong>メール:</strong>
					<%= @teacher.email %>
				</p>
				<p>
					<strong>所属大学:</strong>
					<%= link_to @teacher.university.name, university_faculties_path(@teacher.university) %>
				</p>
				<p>
					<strong>所属学科:</strong>
					<%= link_to @teacher.faculty.name, @teacher.faculty %>
				</p>
				<p>
					<strong>研究室:</strong>
					<%= @teacher.lab %>
				</p>
				<p>
					<strong>研究室URL:</strong>
					<%= @teacher.lab_url %>
				</p>
			</div>
			<hr />
			<div class="text-center">
				<p>
					<strong>担当講義</strong>
				</p>			
	    		<%= render @subjects %>
			</div>
		</div>
	</div>
</div>
