<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <% if @isEditable %>
      <th><%= t('year') %></th>
      <th class="hidden-xs"><%= t('uni_year') %></th>
      <th><%= t('semester') %></th>
      <th><%= t('university') %></th>
      <th class="hidden-xs"><%= raw t('.faculty') %></th>
      <th class="hidden-xs"><%= raw t('.course') %></th>
      <th class="hidden-xs""><%= t('.subject_number') %></th>
      <th></th>
      <th></th>
      <% else %>
      <th><%= t('year') %></th>
      <th class="hidden-xs"><%= t('uni_year') %></th>
      <th><%= t('semester') %></th>
      <th><%= t('university') %></th>
      <th class="hidden-xs"><%= raw t('.faculty') %></th>
      <th class="hidden-xs"><%= raw t('.course') %></th>
      <th class="hidden-xs"><%= t('.subject_number') %></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  	<% @user.educations.joins('LEFT OUTER JOIN uni_years ON uni_years.id = educations.uni_year_id')
  	.joins('LEFT OUTER JOIN semesters ON semesters.id = educations.semester_id')
  	.order('educations.year ASC, uni_years.no ASC, semesters.no ASC, created_at ASC').each do | education | %>
    <tr>
      <td><%= education.year unless education.year.blank? %></td>
      <td class="hidden-xs"><%= education.uni_year.name unless education.uni_year.blank? %></td>
      <td><%= education.semester.name unless education.semester.blank? %></td>
      <td><%= education.university.name unless education.university.blank? %></td>
      <td class="hidden-xs"><%= education.faculty.name unless education.faculty.blank? %></td>
      <td class="hidden-xs"><%= education.course.name unless education.course.blank? %></td>
      <td class="hidden-xs"><%= education.subjects.count %></td>
      <% if @isEditable %>
      <td>
      	<% if @user.current_education == education %>
      		<%= radio_button_tag 'current', education.id, true %>
      	<% else %>
      		<%= radio_button_tag 'current', education.id %>
      	<% end %>
      </td>
      <td>
      	<%= link_to [:edit, @user, education], class: 'education-popup' do %>
					<span class="glyphicon glyphicon-pencil"></span>
				<% end %>
				<% if @user.educations.count > 1 %>
        	<%= link_to [@user, education], method: :delete, class: 'education-delete', data: {id: education.id} do %>
						<span class="glyphicon glyphicon-remove"></span>
        	<% end %>
      	<% end %>
      </td>
      <% else %>
      <td>
      	<% if @user.current_education == education %>
      	&bull;
      	<% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
