<div id="education-edit">
	<%= form_for([@user, @education]) do |f| %>
	  <% if @education.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>
	
	      <ul>
	      <% @education.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
	  <div class="field">
	    <%= f.label :uni_year_id %><br>
	    <%= f.number_field :uni_year_id, class: 'form-control' %>
	  </div>
	  <div class="field">
	    <%= f.label :semester_id %><br>
	    <%= f.number_field :semester_id %>
	  </div>
	  <div class="field">
	    <%= f.label :year %><br>
	    <%= f.number_field :year %>
	  </div>
	  <div class="field">
	    学校:
			<%= select_tag :university_id, options_from_collection_for_select(@universities, "id", "name"), class: 'form-control selectpicker show-tick', data: {width: 'auto'} %>
	  </div>
	  <div class="field">
	    <%= f.label :faculty_id %><br>
	    <%= f.text_field :faculty_id %>
	  </div>
	  <div class="field">
	    <%= f.label :course_id %><br>
	    <%= f.number_field :course_id %>
	  </div>
		<%= f.submit '登録', class: 'btn btn-success col-sm-2 col-sm-offset-5 col-xs-12 col-xs-offset-0'%>
		<br />
	<% end %>
</div>
