<div id="education-edit">
	<div id="education-header">
		<%= t('.header') %>
	</div>
	<div id="education-content">
		<%= form_for([@user, @education], html: {id: 'education-form', remote: true, class: 'clear'}) do |f| %>
		  <% if @education.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@education.errors.count, "error") %> prohibited this education from being saved:</h2>
		      <ul>
		      <% @education.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		  <p>
		    <%= t('university') %>:
		    <% if @education.university %>
				<%= f.select :university_id, options_from_collection_for_select(@universities, "id", "name", selected: @education.university.id), {}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		    <% else %>
				<%= f.select :university_id, options_from_collection_for_select(@universities, "id", "name"), {}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		  	<% end %>
	  	</p>
	  	<p>
		    <%= raw t('.faculty') %>:
		    <% if @education.faculty %>
				<%= f.select :faculty_id, options_from_collection_for_select(@faculties, "id", "name", selected: @education.faculty.id), {include_blank: true}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		    <% else %>
				<%= f.select :faculty_id, options_from_collection_for_select(@faculties, "id", "name"), {include_blank: true}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		  	<% end %>
		  </p>
		  <p>
		    <%= raw t('.course') %>:
		    <% if @education.course %>
				<%= f.select :course_id, options_from_collection_for_select(@courses, "id", "name", selected: @education.course.id), {include_blank: true}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		    <% else %>
				<%= f.select :course_id, options_from_collection_for_select(@courses, "id", "name"), {include_blank: true}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		  	<% end %>
		  </p>	  
		  <p>
		    <%= t('uni_year') %>:
		    <% if @education.uni_year %>
				<%= f.select :uni_year_id, options_from_collection_for_select(@uni_years, "id", "name", selected: @education.uni_year.id), {include_blank: true}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		    <% else %>
				<%= f.select :uni_year_id, options_from_collection_for_select(@uni_years, "id", "name"), {include_blank: true}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		  	<% end %>
		  </p>
		  <p>
		    <%= t('semester') %>:
		    <% if @education.semester %>
				<%= f.select :semester_id, options_from_collection_for_select(@semesters, "id", "name", selected: @education.semester.id), {include_blank: true}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		    <% else %>
				<%= f.select :semester_id, options_from_collection_for_select(@semesters, "id", "name"), {include_blank: true}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		  	<% end %>
		  </p>
	  	<p>
		    <%= t('year') %>:
		    <%= f.select :year, options_for_select(@years), {}, {class: 'form-control selectpicker show-tick', data: {width: 'auto'}} %>
		  </p>	
			<%= f.submit class: 'btn btn-success col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0'%>
			<br />
			<%= f.hidden_field :user_id, value: @user.id %>
		<% end %>
	</div>
</div>
