<% if @isEditable %>
	<p class="notice">*<%= t('.notice1') %></p>
<% end %>

<div id="education-table">
	<%= render 'educations/education_table' %>
</div>

<% if @isEditable %>
	<%= link_to new_user_education_path(@user), {class: 'btn btn-default education-popup'} do %>
		<span class="glyphicon glyphicon-plus"></span><%= t('.add') %>
	<% end %>
	<%= link_to new_auto_user_educations_path(@user), {class: 'btn btn-default education-auto', remote: true, method: :post} do %>
		<span class="glyphicon glyphicon-plus"></span><%= t('.auto_add') %>
	<% end %>
<% end %>