<p id="notice"><%= notice %></p>

<p>
  <strong>Uni year:</strong>
  <%= @education.uni_year_id %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @education.semester_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @education.year %>
</p>

<p>
  <strong>University:</strong>
  <%= @education.university_id %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @education.faculty_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @education.course_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @education.user_id %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
