<!-- TODO -->
<%= form_for(@university) do |f| %>
  <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% @university.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  
  <% if @university.logo.exists? %>
	<div class="fileinput fileinput-exists" data-provides="fileinput">
	<% else %>
	<div class="fileinput fileinput-new" data-provides="fileinput">
	<% end %>
	  <div class="fileinput-new thumbnail thumbnail-sm">
	  </div>
	  <div class="fileinput-preview fileinput-exists thumbnail thumbnail-preview-sm">
	  <% if @university.logo.exists? %>
	  	<%= image_tag @university.logo.url(:original) %>
  	<% end %>
	  </div>
	  <div>
	    <span class="btn btn-default btn-file">
	    	<span class="fileinput-new">Select image</span>
	    	<span class="fileinput-exists">Change</span>
	  		<%= f.file_field :logo %>
    	</span>
	    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
	  </div>
	  <% if @university.errors[:logo] %>
			<ul>
      <% @university.errors.full_messages_for(:logo).each do |msg| %>
        <li class="error-msg"><%= msg %></li>
      <% end %>
      </ul>
		<% end %>
	</div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
