<!-- 
<h1>Listing universities</h1>

<table>
  <thead>
    <tr>
    	<th>Picture</th>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <tr>
      	<td><%= image_tag(university.display_logo_thumbnail, class: 'logo-thumbnail') %></td>
        <td><%= university.name %></td>
        <td><%= university.address %></td>
        <td><%= university.website %></td>
        <td><%= link_to 'Show', university %></td>
        <td><%= link_to 'Edit', edit_university_path(university) %></td>
        <td><%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New University', new_university_path %>
-->
<div id="universities-list" class="clear">
	<%= render @universities %>
</div>
<button class="btn btn-request">
	<span class="glyphicon glyphicon-plus"></span><br />
	<%= t 'request_university' %>
</button>

<script>
	$(document).ready(function() {
		var container = document.querySelector('#universities-list');
		var msnry = new Masonry( container, {
		  // options
		  "gutter": 10,
		  "isFitWidth": true,
		  itemSelector: '.uni-item'
		});
	});
</script>
