<!-- 
<h1>Listing universities</h1>

<table>
  <thead>
    <tr>
    	<th>Picture</th>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <tr>
      	<td><%= image_tag(university.display_logo_thumbnail, class: 'logo-thumbnail') %></td>
        <td><%= university.name %></td>
        <td><%= university.address %></td>
        <td><%= university.website %></td>
        <td><%= link_to 'Show', university %></td>
        <td><%= link_to 'Edit', edit_university_path(university) %></td>
        <td><%= link_to 'Destroy', university, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New University', new_university_path %>
-->
<div id="university-menu">
	<%= form_tag notes_path, method: :get, id: 'filter-university' do %>
	  <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: t('university_search'), autocorrect: "off", autocapitalize: "off" %>
	<% end %>
</div>

<div id="universities-list" class="clear">
	<%= render @universities %>
</div>

<%= link_to new_request_path, class: 'btn btn-request', id: 'uni-request-btn' do %>
	<span class="glyphicon glyphicon-plus"></span><br />
	<%= t('request_university') %>
<% end %>
