<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @university.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @university.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @university.website %>
</p>
<%= image_tag(@university.display_logo_original, class: 'logo') %>

<%= link_to 'Edit', edit_university_path(@university) %> |
<%= link_to 'Back', universities_path %>
