<div id="footer">
 
	<div class="container">
    <p class="navbar-text pull-left hidden-xs"><%= t '.copyright' %></p>
    <a href="http://help.sikecho.com" class="navbar-btn btn-default btn btn-sm pull-right">
    	<span class="glyphicon glyphicon-question-sign"></span>
    	<span class="hidden-xs"><%= t '.help' %></span>
  	</a>
  	<% if !@disable_uni_select && !user_signed_in? %>
		<div class="btn-group pull-right dropup" id="university-select">
		  <button type="button" class="btn navbar-btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
		    <span class="glyphicon glyphicon-home"></span>
		    <span class="hidden-xs">
			    <% if current_university != nil %>
			    <strong><%= current_university.name %></strong>
			    <% else %>
			    <%= t '.university' %>
			    <% end %>
		    </span>
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		  	<% University.all.each do |university| %>
		    <li class="<%= 'active' if current_university != nil && current_university.name == university.name %>">
		    	<%= link_to university.name, subjects_url(subdomain: university.codename) %>
	    	</li>
		  	<% end %>
		  </ul>
		</div>
		<% end %>
		<div class="btn-group pull-right dropup" id="i18n-select">
		  <button type="button" class="btn navbar-btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
		    <span class="glyphicon glyphicon-globe"></span>
		    <span class="hidden-xs"><%= t 'meta.language_name' %></span>
		    <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li class="<%= 'active' if I18n.locale == :ja %>">
		    	<%= link_to "日本語", locale: :ja %>
	    	</li>
		    <li class="<%= 'active' if I18n.locale == :en %>">
		    	<%= link_to "English", locale: :en %>
				</li>
		  </ul>
		</div>
	</div><!-- end of container -->
 
</div><!-- end of footer -->

