<% if @subjects.count == 0 %>
授業が見つかりません。
<% end %>
<ul>
<% @subjects.each do |subject| %>
	<%= link_to subject do %>
	<li class="subject-item">
			<div class="subject-thumbnail">
      </div> 
			
      <div class="subject-details">
	      <p class="subject-name"><%= subject.name %></p>
	      <hr class="hr-narrow" />
				<p class="subject-desc">
					<%= strip_tags(subject.description) %>
				</p>
      </div>
      <div class="subject-info">
      	<div class="subject-notes-number">
	    		<span><%= subject.notes.count %></span>
	    		<%= image_tag("note.png") %>
  			</div>
  			<div class="subject-year label-year">
					<%= subject.year %>
				</div>
				<div class="subject-teacher">
	      	<% subject.teachers.each do |teacher| %>
	      		<% if teacher != subject.teachers.first  %>
	      		・
	      		<% end %>
	      		<%= teacher.name_kanji %>
      		<% end %>
	      </div>
    	</div>
 	</li>
 	<% end %>
<% end %>
</ul>
	<%= hidden_field_tag :uni_year, @uni_year %>
	<%= hidden_field_tag :semester, @semester %>