<nav class="navbar navbar-default" role="navigation" id="nav-bar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
	  <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target="#navbar-collapse-2" id="navbar-search">
	  	<span class="sr-only">Toggle navigation</span>
 			<i class="glyphicon glyphicon-search"></i>
 		</button>
    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target="#navbar-collapse-1" id="navbar-menu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag("logo.png"), root_url(subdomain: ''), class: 'navbar-brand', id: 'logo' %>
  </div>
  
  <!-- Menu bar -->
  <div class="collapse navbar-collapse no-transition" id="navbar-collapse-1">
    <ul class="nav navbar-nav hidden-xs">
      <li class="<%= 'active' if params[:controller] == 'subjects' %> <%= 'disabled' if current_university == nil %>"><%= link_to t('.subject'), subjects_path %></li>
      <li class="<%= 'active' if params[:controller] == 'notes' %> <%= 'disabled' if current_university == nil %>">
      	<%= link_to notes_path do %>
	      	<%= t '.note' %>
	      	<% if user_signed_in? && unread_notes_count > 0 %>
	      		<span class="badge badge-important"><%= unread_notes_count %></span>
	      	<% end %>
      	<% end %>
    	</li>
      <li class="<%= 'active' if params[:controller] == 'users' %> <%= 'disabled' if !user_signed_in? %>"><%= link_to t('.profile'), current_user %></li>
    </ul>
    
    <ul class="nav navbar-nav visible-xs nav-mobile">
    	
    	<% if current_university == nil %>
	      <li class="<%= 'active' if params[:controller] == 'subjects' %> col-xs-3 disabled">
	      	<%= link_to image_tag("lecture_disabled.png"), subjects_path %>
	    	</li>
	    	<li class="<%= 'active' if params[:controller] == 'notes' %> col-xs-3">
	      	<%= link_to notes_path do %>
		      	<%= image_tag("note.png") %>
		      	<% if user_signed_in? && unread_notes_count > 0 %>
		      		<span class="badge badge-important"><%= unread_notes_count %></span>
		      	<% end %>
	      	<% end %>
	    	</li>
    	<% else %>
	      <li class="<%= 'active' if params[:controller] == 'subjects' %> col-xs-3">
	      	<%= link_to image_tag("lecture.png"), subjects_path %>
	    	</li>
	  	  <li class="<%= 'active' if params[:controller] == 'notes' %> col-xs-3">
	      	<%= link_to notes_path do %>
		      	<%= image_tag("note.png") %>
	      	<% end %>
	    	</li>
    	<% end %>
    	
      <% if user_signed_in? %>
	      <li class="<%= 'active' if params[:controller] == 'users' %> col-xs-3">
	      	<%= link_to image_tag("user.png"), current_user %>
      	</li>
	      <li class="col-xs-3">
	      	<%= link_to image_tag("logout.png"), destroy_user_session_path, method: :delete %>
      	</li>
      <% else %>
	      <li class="<%= 'active' if params[:controller] == 'users' %> col-xs-3 disabled">
	      	<%= link_to image_tag("user_disabled.png"), current_user %>
      	</li>
	      <li class="col-xs-3">
	      	<%= link_to image_tag("login.png"), new_user_session_path %>
      	</li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
  
  <!-- Search bar -->
  <% if user_signed_in? || current_university != nil %>
	  <div class="collapse navbar-collapse no-transition" id="navbar-collapse-2">
		<%= form_tag search_path, class: "navbar-form navbar-left search-bar" do %>
		  <div class="input-group">
		    <%= text_field_tag :query, params[:query], class: 'form-control typeahead' %>
				<div class="input-group-btn">
					<%= button_tag(type: "submit", class: "btn btn-success") do %>
					  <i class="glyphicon glyphicon-search"></i>
					<% end %>
				</div>
			</div>	    
		<% end %>
	  </div><!-- /.navbar-collapse -->
  <% end %>
  
  <% if user_signed_in? %>
  <!-- User info -->
	<div class="collapse navbar-collapse hidden-xs" id="navbar-collapse-3">
		<ul class="nav navbar-nav navbar-right">
    	<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag(current_user.display_profile_image, class: 'nav-avatar') %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
					<li><%= link_to t('.profile'), current_user %></li>
					<li><%= link_to t('.schedule'), schedule_path %></li>           
					<li class="divider"></li>
    			<li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
    </ul>
    <%= link_to image_tag("calendar.jpeg", class: 'nav-calendar'), schedule_path, class: "nav navbar-nav navbar-right" %>
  </div><!-- /.navbar-collapse -->
  <% else %>
  <%= link_to t('.login'), new_user_session_path, class: 'btn btn-sm btn-orange navbar-right hidden-xs', id: 'login-btn' %>
	<% end %>
	
</nav>

<script>
	$(document).ready(function(){ 

	  /*For search bar submit*/
	  $(".search-bar").on("submit", function(){
	  	window.location.href = "/search?query=" + $(this).find("#query").val() + "&type=" + I18n["subject"];
	  	return false;
	  });

		/*For typeahead*/
		var searchSource = function(query, cb) {
		  var results = [];
		  var subject_item = new Object();
		  subject_item.value = I18n["layouts"]["navbar"]["subject_search"] + ": " + "'" + query + "'";
		  subject_item.url = "/search?query=" + query + "&type=授業";
		  results.push(subject_item);
		  
		  <% if user_signed_in? %>
		  var note_item = new Object();
		  note_item.value = "ノート検索: " + "'" + query + "'";
		  note_item.url = "/search?query=" + query + "&type=ノート";
		  results.push(note_item);
		  <% end %>
		  
		  cb(results);
		};
		
		$(".typeahead").typeahead("destroy");
		$(".typeahead").typeahead(null, {
		  displayKey: "value",
		  source: searchSource,
		  templates: {
		    suggestion: Handlebars.compile(
		      "<p><strong>{{value}}</strong></p>"
		    )
		  }
		});
		$(".typeahead").on("typeahead:selected", function(event, item) {
			window.location.href = item.url;
		});
	});
</script>
