<!DOCTYPE html>
<html>
<head>
  <title>Shikechou</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= favicon_link_tag(source='apple-touch-icon-57x57.png', rel: "apple-touch-icon", sizes: "57x57") %>
  <%= favicon_link_tag(source='apple-touch-icon-114x114.png', rel: "apple-touch-icon", sizes: "114x114") %>
  <%= favicon_link_tag(source='apple-touch-icon-72x72.png', rel: "apple-touch-icon", sizes: "72x72") %>
  <%= favicon_link_tag(source='apple-touch-icon-60x60.png', rel: "apple-touch-icon", sizes: "60x60") %>
  <%= favicon_link_tag(source='apple-touch-icon-120x120.png', rel: "apple-touch-icon", sizes: "120x120") %>
  <%= favicon_link_tag(source='apple-touch-icon-76x76.png', rel: "apple-touch-icon", sizes: "76x76") %>
  <%= favicon_link_tag(source='favicon-96x96.png', rel: "icon", sizes: "96x96", type: 'image/png') %>
  <%= favicon_link_tag(source='favicon-16x16.png', rel: "icon", sizes: "16x16", type: 'image/png') %>
  <%= favicon_link_tag(source='favicon-32x32.png', rel: "icon", sizes: "32x32", type: 'image/png') %>
	<meta name="msapplication-TileColor" content="#da532c">
	
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  
</head>
<body class="<%= controller_name %> <%= action_name %>">
<script>
// need to run before other scripts
  window.I18n = <%= current_translations.to_json.html_safe %>;
</script>
	<div id="wrapper">
		<%= render 'layouts/navbar' unless @disable_nav %>
		<div id="menu-height-offset"></div>
		<div id="main">
			<%= yield %>
		</div>
		<%= render 'layouts/footer' unless @disable_footer %>
	</div>
</body>
</html>

