<div id="signup-page" class="clear">
	<nav class="navbar navbar-default" role="navigation" id="nav-bar-signup">
	  <div class="navbar-header">
	    <%= link_to image_tag("logo.png"), home_path, class: 'navbar-brand', id: 'logo' %>
	  </div>
	  <%= link_to t('login'), new_user_session_path, class: 'btn btn-sm btn-orange navbar-right hidden-xs', id: 'login-btn' %>
	</nav>
	<h2><%= t '.title' %></h2>
	<div id="signup-form-wrapper">
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <label><%= t 'username' %>:</label>
			<%= f.text_field :username, class: 'form-control', autofocus: true, required: true %>
  		<% if resource.errors[:username] %>
  			<ul>
	      <% resource.errors.full_messages_for(:username).each do |msg| %>
	        <li class="error-msg"><%= msg %></li>
	      <% end %>
	      </ul>
  		<% end %>
			<br />

			<label><%= t 'password' %>:</label>
			<%= f.password_field :password, class: 'form-control', autocomplete: "off", required: true %>
  		<% if resource.errors[:password] %>
  			<ul>
	      <% resource.errors.full_messages_for(:password).each do |msg| %>
	        <li class="error-msg"><%= msg %></li>
	      <% end %>
	      </ul>
  		<% end %>
			<br />

			<label><%= t 'password_confirmation' %>:</label>
			<%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off", required: true %>
  		<% if resource.errors[:password_confirmation] %>
  			<ul>
	      <% resource.errors.full_messages_for(:password_confirmation).each do |msg| %>
	        <li class="error-msg"><%= msg %></li>
	      <% end %>
	      </ul>
  		<% end %>
			<br />

			<label><%= t 'email' %>:</label>
			<%= f.email_field :email, class: 'form-control', placeholder: 'name@email.com', required: true, disabled: (!resource.email.blank?) %>
  		<% if resource.errors[:email] %>
  			<ul>
	      <% resource.errors.full_messages_for(:email).each do |msg| %>
	        <li class="error-msg"><%= msg %></li>
	      <% end %>
	      </ul>
  		<% end %>
			<br />

			<label><%= t 'university' %>:</label>
			<%= select_tag :university, options_from_collection_for_select(@universities, "id", "name"), class: 'form-control selectpicker show-tick', data: {width: 'auto'} %>
			<%= f.submit t('register'), class: 'btn btn-success btn-block', id: 'signup-btn' %>
		<% end %>
	</div>
</div>
<script>
	$(document).ready(function() {
		$('.selectpicker').selectpicker();
		$("body").css("background-color", "#fff");
		$("#menu-height-offset").css("display", "none");
	});
</script>